<div class="container">
    <div class="tnusrb-sub-inspector-title">
    <div>
        <div style="font-size: 28px; font-weight: 600; text-align: center;">
            Combined Defence Services Examination (CDSE)
        </div>
    </div>

    <div class="row mt-4 mb-3 align-items-center">
        <!-- Text Block -->
        <div class="col-12 col-md-8 mb-3 mb-md-0">
            <span style="display: block; font-size: 24px; color: rgb(3, 84, 160); margin-bottom: 10px; text-align: left;">
                Overview:
            </span>
            <span style="font-weight: 450; font-size: 18px; color: black; display: block; text-align: justify;">
                The Combined Defence Services Examination (CDSE) is a prestigious gateway for selecting future leaders
                of the Indian Armed Forces. It recruits candidates for the Army, Navy, and Air Force, focusing on
                leadership, discipline, and military proficiency. Through this examination, successful candidates
                undergo rigorous academic, physical, and military training at respective academies to prepare as
                commissioned officers, committed to national defense and service to the nation.
            </span>
        </div>

        <!-- Image Block -->
        <div class="col-12 col-md-4 text-center">
            <img class="float-up-down img-fluid custom-img"
                src="CDSE.png"
                alt="CDSE" />
        </div>
    </div>
</div>


    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>Written Examination</li>
                    <li>Services Selection Board (SSB) Interview</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">Educational Qualification</div>
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th>Service</th>
                            <th>Education</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Indian Military Academy and Officers’ Training Academy</td>
                            <td>Bachelor’s Degree</td>
                        </tr>
                        <tr>
                            <td>Indian Naval Academy</td>
                            <td>Engineering Degree</td>
                        </tr>
                        <tr>
                            <td>Air Force Academy</td>
                            <td>Graduate with Physics & Mathematics in Class 12 or Engineering</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">Age Limit</div>
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th>Service</th>
                            <th>Age (Years)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Indian Naval Academy</td>
                            <td>19 - 22</td>
                        </tr>
                        <tr>
                            <td>Air Force Academy</td>
                            <td>19 - 23</td>
                        </tr>
                        <tr>
                            <td>Indian Military Academy</td>
                            <td>19 - 24</td>
                        </tr>
                        <tr>
                            <td>Officers’ Training Academy (Men & Women)</td>
                            <td>19 - 25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Measurement Test​
            </div>
            <div class="table-flex-column">
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="3">Height ( in cm )</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Service</td>
                            <td>Male</td>
                            <td>Female</td>
                        </tr>
                        <tr>
                            <td>Indian Army</td>
                            <td>157.5 cm</td>
                            <td>152 cm</td>
                        </tr>
                        <tr>
                            <td>Indian Navy</td>
                            <td>157 cm</td>
                            <td>152 cm</td>
                        </tr>
                        <tr>
                            <td>Indian Air Force</td>
                            <td>162.5 cm</td>
                            <td>152 cm (Flying Branch)</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="2">Weight ( in Kg )</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr>
                            <td class="thead-2">Male</td>
                            <td class="thead-2"> Female</td>
                        </tr>
                        <tr>
                            <td class="chest-size">44 - 70</td>
                            <td class="chest-size">39 - 54</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Courses</th>
                        <th scope="col" colspan="2">Height ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col"></td>
                        <td style="font-weight: bold;">Male</td>
                        <td style="font-weight: bold;">Female</td>
                    </tr>
                    <tr>
                        <td scope="col">IMA</td>
                        <td>157.5 cm</td>
                        <td>152 cm</td>
                    </tr>
                    <tr>
                        <td scope="col">INA</td>
                        <td>157 cm</td>
                        <td>152 cm</td>
                    </tr>
                    <tr>
                        <td scope="col">IAFA</td>
                        <td>162.5 cm</td>
                        <td>152 cm</td>
                    </tr>
                    <tr>
                        <td scope="col">OTA - Men</td>
                        <td>157.5 cm</td>
                        <td>152 cm</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern (IMA, INA, IAFA)
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Questions</th>
                        <th>Mark</th>
                        <th>-ve Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">General Knowledge</td>
                        <td>100</td>
                        <td>100</td>
                        <td>1/3rd</td>
                    </tr>
                    <tr>
                        <td scope="col">English</td>
                        <td>100</td>
                        <td>100</td>
                        <td>1/3rd</td>
                    </tr>
                    <tr>
                        <td scope="col">Elementary Mathematics</td>
                        <td>100</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Total</td>
                        <td>300</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Duration</td>
                        <td>120 Mins</td>
                    </tr>
                </tbody>
            </table>
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern (OTA)
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Questions</th>
                        <th>Mark</th>
                        <th>-ve Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">General Knowledge</td>
                        <td>100</td>
                        <td>100</td>
                        <td>1/3rd</td>
                    </tr>
                    <tr>
                        <td scope="col">English</td>
                        <td>100</td>
                        <td>100</td>
                        <td>1/3rd</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Total</td>
                        <td>300</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Duration</td>
                        <td>120 Mins</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>