<div class="container">
    <div class="tnusrb-police-constable-title">
        Tamil Nadu Uniformed Services Recruitment Board (TNUSRB) - Police Constable (PC)
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for TNUSRB - Police Constable (PC)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Selection Process for TNUSRB – Police Constable (PC)</span> are :-
        </div>
        <div class="list">
            <ol>
                <li>Written Examination</li>
                <li>Physical Efficiency Test</li>
                <li>Medical Test</li>
            </ol>
        </div>
    </div>


    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for TNUSRB - Police Constable (PC)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            <span class="bolder">
                <ul>
                    <li>10th Pass</li>
                </ul>
            </span>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for TNUSRB - Police Constable (PC)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Age limit for TNUSRB – Police Constable (PC)</span> are
        </div>

        <table class="table table-bordered table-hover">
            <thead class="theader">
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Age ( in Years )</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>General</td>
                    <td>18 - 26</td>
                </tr>
                <tr>
                    <td>BC / MBC</td>
                    <td>18 - 28</td>
                </tr>
                <tr>
                    <td>SC / ST</td>
                    <td>18 - 29</td>
                </tr>
                <tr>
                    <td>Transgender</td>
                    <td>18 - 29</td>
                </tr>
                <tr>
                    <td>Female Widow</td>
                    <td>18 - 35</td>
                </tr>
                <tr>
                    <td>Ex-Service man</td>
                    <td>18 - 47</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for TNUSRB - Police Constable (PC)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            In TNUSRB – Police Constable (PC) physical test, the eligibility of candidates is measured as per <span class="bolder">height, chest </span> and <span class="bolder">medical standards.</span>
        </div>

        <div class="table-flex-column">
            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">Height ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-1">Category</td>
                        <td class="thead-1">Male</td>
                        <td class="thead-1">Female</td>
                    </tr>
                    <tr>
                        <td>General</td>
                        <td>170</td>
                        <td>159</td>
                    </tr>
                    <tr>
                        <td>BC / MBC</td>
                        <td>170</td>
                        <td>159</td>
                    </tr>
                    <tr>
                        <td>SC, SC (A) / ST</td>
                        <td>167</td>
                        <td>157</td>
                    </tr>

                </tbody>
            </table>

            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">chest ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-2" rowspan="2">Only for Male</td>
                        <td class="thead-2">Normal</td>
                        <td class="thead-2"> Expanded</td>
                    </tr>
                    <tr>
                        <td class="chest-size">81</td>
                        <td class="chest-size">86</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container my-4">
    <div class="syllabus-link d-flex align-items-center gap-2 my-3">
        <img src="animated-click-here-.gif" alt="Click here" class="click-icon" />
        <span>
            TNUSRB – Police Constable (PC)
            <a href="#" target="_blank" class="pdf-link">Syllabus (PDF)</a>
        </span>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical EFFICIENCY Test
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Event (Men)</th>
                        <th></th>
                        <th scope="col">1 STAR (4 Marks)</th>
                        <th scope="col">2 STAR (8 Marks)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Rope Climbing</td>
                        <td></td>
                        <td>5.0 m</td>
                        <td>6.0 m</td>
                    </tr>
                    <tr>
                        <td scope="col" rowspan="2" class="vertical-align">Long Jump & High Jump</td>
                        <td>Long Jump</td>
                        <td>3.80 m</td>
                        <td>6.0 m</td>
                    </tr>
                    <tr>
                        <td>High Jump</td>
                        <td>1.20 m</td>
                        <td>1.40 m</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="vertical-align">Running 100 m or 400 m</td>
                        <td>100 m</td>
                        <td>15.00 seconds</td>
                        <td>13.50 seconds</td>
                    </tr>
                    <tr>
                        <td>400 m</td>
                        <td>80.00 seconds</td>
                        <td>70.00 seconds</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Event (Women)</th>
                        <th></th>
                        <th scope="col">1 STAR (4 Marks)</th>
                        <th scope="col">2 STAR (8 Marks)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Rope Climbing</td>
                        <td></td>
                        <td>3.0 m</td>
                        <td>3.75 m</td>
                    </tr>
                    <tr>
                        <td scope="col" rowspan="2" class="vertical-align">Short put throw Or Cricket ball throw</td>
                        <td>Shot – put throw</td>
                        <td>4.25 m</td>
                        <td>5.50 m</td>
                    </tr>
                    <tr>
                        <td>Cricket ball throw</td>
                        <td>17 m</td>
                        <td>24 m</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="vertical-align">Running 100m or 200m</td>
                        <td>100 m</td>
                        <td>17.50 seconds</td>
                        <td>15.50 seconds</td>
                    </tr>
                    <tr>
                        <td>200 m</td>
                        <td>38.00 seconds</td>
                        <td>33.00 seconds</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <strong class="main-title">PART-I:</strong>
            </div>
            <div class="mt-2">
                <span class="content">Tamil Eligibility Test (80 Marks) (Objective type) <strong>Pass
                        MARK-32</strong></span>
                <ul class="list-1">
                    <li><strong>Duration:</strong> 80 Mins</li>
                </ul>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <strong class="main-title">PART-II:</strong>
            </div>
            <div class="mt-2">
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th>Subject</th>
                            <th>Questions</th>
                            <th>Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>General knowledge</td>
                            <td>45</td>
                            <td>45</td>
                        </tr>
                        <tr>
                            <td>Psychology</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td>70</td>
                            <td>70</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-2">
                <ul class="list-2">
                    <li><strong>Note:</strong> No Negative Mark </li>
                    <li><strong>Duration:</strong> 80 Mins</li>
                    <li><strong>Books:</strong> 6th to 10th Tamil Nadu School Text Book</li>
                </ul>
            </div>
            <div class="mt-2">
                <span class="text"><strong>NCC /NSS/Sports:</strong> 6 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>TOTAL MARKS:</strong> 70 + 24 + 6 = 100</span>
            </div>
        </div>
    </div>
</div>