<div class="container">
    <div class="tnusrb-sub-inspector-title">
        <div>
            <div class="tnusrb-police-constable-content-head">
                Tamil Nadu Forest Uniformed Services Recruitment Committee (TNFUSRC) - Forest Guard
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center gap-3 mt-4 mb-3">
            <!-- Text Content -->
            <div style="max-width: 600px;">
                <span style="
                display: block;
                font-size: 24px;
                color: rgb(3, 84, 160);
                margin-bottom: 10px;
                text-align: left;">
                    Overview:
                </span>
                <span style="
                font-weight: 450;
                font-size: 18px;
                color: black;
                display: block;
                text-align: justify;">
                    The Forest Guard is a Group 'C' officer who monitors and protects forest areas, wildlife, and
                    natural resources. They patrol assigned regions, prevent illegal activities like poaching and
                    deforestation, and ensure the safety of flora and fauna. They also assist in fire control,
                    conservation programs, and educating the public about environmental protection. Working under
                    the guidance of senior officers, they play a key role in safeguarding forests and supporting
                    sustainable ecosystem management.
                </span>
            </div>

            <!-- Image -->
            <div class="d-flex justify-content-center w-100 mt-3 mt-md-0">
                <img class="float-up-down img-fluid" src="TNFUSRC-Guard.png" alt="TNFUSRC Forest Guard" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>Written Examination</li>
                    <li>Physical Measurement Test</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Educational Qualification
                </div>
                <div class="tnusrb-police-constabel-sub-heading">
                    <strong class="main-title">TNFUSRC GUARD:</strong>
                    <span class="content">
                        <ul>
                            <li>+2 with PCB/Zoology/Botany</li>
                        </ul>
                    </span>
                </div>

                <div class="tnusrb-police-constabel-sub-heading">
                    <strong class="main-title">TNFUSRC GUARD WITH LICENSE:</strong>
                    <span class="content">
                        <ul>
                            <li>+2 with PCB/Zoology/Botany</li>
                            <li>Driving license</li>
                            <li>Knowledge of automobiles</li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Age Limit
                </div>
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Age (Years)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>OC</td>
                            <td>Upto 32</td>
                        </tr>
                        <tr>
                            <td>BC / MBC / BCM / SC / ST</td>
                            <td>Upto 37</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Measurement Test​
            </div>
            <div class="table-flex-column">
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="3">Height ( in cm )</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="thead-1">Gender</td>
                            <td class="thead-1">OC, BC, BC(M),MBC/DNC SC, SC(A)</td>
                            <td class="thead-1">ST</td>
                        </tr>
                        <tr>
                            <td>Male</td>
                            <td>Minimum 163 cm</td>
                            <td>Minimum 152 cm</td>
                        </tr>
                        <tr>
                            <td>Female</td>
                            <td>Minimum 150 cm</td>
                            <td>Minimum 145 cm</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="3">chest ( in cm )</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="thead-2" rowspan="2">Only for Male</td>
                            <td class="thead-2">Normal</td>
                            <td class="thead-2"> Expanded</td>
                        </tr>
                        <tr>
                            <td class="chest-size">79</td>
                            <td class="chest-size">84</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container my-4">

    <div class="container">

    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <strong class="main-title">#No Physical test</strong>
        </div>

        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">The medium of the question paper shall be bilingual <strong>( Both English &
                        Tamil
                        )</strong></span>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">Type of Examination: <strong>Objective Type (OMR Method)</strong></span>
            </div>
            <div class="mt-2">
                <span class="content">Single Paper <strong>(S.S.L.C Standard)</strong></span>
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Part</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Questions</th>
                        <th>Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Part A</td>
                        <td>Tamil Eligibility-Cum-Scoring Test</td>
                        <td>100</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td scope="col" rowspan="2">Part B</td>
                        <td>General Studies</td>
                        <td>75</td>
                        <td rowspan="2" style="vertical-align: middle;">150</td>
                    </tr>
                    <tr>
                        <td scope="col">Aptitude and Mental Ability Test</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td scope="col" colspan="2" style="text-align: center;">Total</td>
                        <td>200</td>
                        <td>300</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-2">
                <span class="text"><strong>Minimum Qualifying Marks for Selection: </strong>90 Marks (All
                    Communities)</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>Note:</strong> No Negative Mark </span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>Duration:</strong> 3 hours</span>
            </div>
        </div>
    </div>
</div>