.custom-bg{
    background-color: rgb(5, 5, 139);
    box-shadow: 10px 10px 10px 10px rgba(10, 0, 0, 0.1);
}
.custom-link{
    color:white;
    text-decoration: none;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 0;
  text-decoration: none;
  color: white;
}

.rlt-police-academy {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 100px;
}

.logo-text {
  line-height: 1.2;
}

.logo-title-1 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.logo-title-2 {
  font-size: 12px;
  font-weight: 400;
  color: #dcdcdc;
  padding-left: 10px;
}