<div class="container">
    <div class="tnusrb-sub-inspector-title">
        Staff Selection Commission - Multi Tasking Staff (MTS)
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for Staff Selection Commission - Multi Tasking Staff (MTS)
        </div>
        <div class="list">
            <ol>
                <li>Paper I CBT and  followed by Document Verification</li>
                <li>No Physical Test</li>
                <li>Both Male and Female Can Apply</li>
            </ol>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for Staff Selection Commission - Multi Tasking Staff (MTS)
            <div>
                <ul>
                    <li>10th Pass</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for Staff Selection Commission - Multi Tasking Staff (MTS)
        </div>
        <ol>
            <li>Minimum – 18 Years </li>
            <li>Maximum – 25 Years</li>
            <li>
                <strong>Age Relaxation:</strong>
                <ul>
                    <li>OBC – 3 Years</li>
                    <li>SC/ST – 5 Years</li>
                    <li>Ex–Service man – 3 Years</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for Staff Selection Commission - Multi Tasking Staff (MTS)
        </div>
        <strong class="main-title" style="margin-left: 20px;">Height:</strong>
        <ul style="list-style-type:circle; margin-left: 20px;">
            <li>Male – 170 cm (for ST 162.5 cm)</li>
            <li>Female – 157 cm (for ST 150 cm)</li>
        </ul>

        <strong class="main-title" style="margin-left: 20px;">Chest:</strong>
        <ul style="list-style-type:circle; margin-left: 20px;">
            <li>Unexpanded – 80 cm (for ST 76 cm)</li>
            <li>Minimum expansion – 5 cm</li>
        </ul>
    </div>
    <div class="container my-4">
        <div class="container">
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
        <div class="partion">
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Written Examination Pattern
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Subject</th>
                            <th>Questions</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col" colspan="3" style="text-align: center; font-weight: bold;">SECTION I - 45 mins</td>
                        </tr>
                        <tr>
                            <td scope="col">General Intelligence and Reasoning</td>
                            <td>20</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td scope="col">Numerical Aptitude</td>
                            <td>20</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td scope="col" colspan="3" style="text-align: center; font-weight: bold;">SECTION II - 45 mins</td>
                        </tr>
                        <tr>
                            <td scope="col">General English</td>
                            <td>25</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td scope="col">General Awareness</td>
                            <td>25</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td scope="col" style="font-weight: bold;">Total</td>
                            <td>90</td>
                            <td>270</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <ul>
                        <li><strong>Note: </strong>Negative Mark 1 for each wrong answer</li>
                        <li><strong>Duration: </strong>90 Mins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>