<div class="container">
    <div class="tnusrb-sub-inspector-title">
        <div>
            <div class="tnusrb-police-constable-content-head">
                Railway Protection Force (RPF) - Police Constable
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center gap-3 mt-4 mb-3">
            <!-- Text Content -->
            <div style="max-width: 600px;">
                <span style="
                display: block;
                font-size: 24px;
                color: rgb(3, 84, 160);
                margin-bottom: 10px;
                text-align: left;">
                    Overview:
                </span>
                <span style="
                font-weight: 450;
                font-size: 18px;
                color: black;
                display: block;
                text-align: justify;">
                    The Police Constable role is a vital entry point to join the police force as a frontline law
                    enforcement
                    officer. Constables are responsible for maintaining law and order, ensuring the safety and security
                    of the public, and protecting property. They undergo rigorous physical, academic, and professional
                    training to carry out duties like patrolling, crowd control, crime prevention, and assisting in
                    investigations. Police Constables play a crucial role in upholding justice, maintaining peace, and
                    supporting senior officers in safeguarding the community.
                </span>
            </div>

            <!-- Image -->
            <div class="d-flex justify-content-center w-100 mt-3 mt-md-0">
                <img class="float-up-down img-fluid" 
                    src="RPF Police Constable.png" alt="RPF Police Constable" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>CBT – Objective questions (10th/12th syllabus)</li>
                    <li>Physical Test, Document & Medical Check</li>
                    <li>Final Medical & Merit List at INS Chilka</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Educational Qualification
                </div>
                <div class="mt-2">
                    <ul>
                        <li>10th Pass</li>
                    </ul>
                </div>
            </div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Age Limit
                </div>

                <table class="table table-bordered table-hover mt-2">
                    <thead class="theader">
                        <tr>
                            <th>Category</th>
                            <th>Age Limit (Years)</th>
                            <th>Relaxation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>UR / EWS</td>
                            <td>18 – 28</td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td>OBC (NCL)</td>
                            <td>18 – 31</td>
                            <td>+3 years</td>
                        </tr>
                        <tr>
                            <td>SC / ST</td>
                            <td>18 – 33</td>
                            <td>+5 years</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Measurement Test
            </div>
            <div class="table-flex-column">
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="3">Height ( in cm )</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="thead-1">Gender</td>
                            <td class="thead-1">Male</td>
                            <td class="thead-1">Female</td>
                        </tr>
                        <tr>
                            <td>UR/OBC</td>
                            <td>165</td>
                            <td>157</td>
                        </tr>
                        <tr>
                            <td>SC/ST</td>
                            <td>160</td>
                            <td>152</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="3">chest ( in cm )</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="thead-2" rowspan="3">Only for Male</td>
                            <td class="thead-2">Normal</td>
                            <td class="thead-2"> Expanded</td>
                        </tr>
                        <tr>
                            <td class="chest-size">80</td>
                            <td class="chest-size">85</td>
                        </tr>
                        <tr>
                            <td class="chest-size">76.2</td>
                            <td class="chest-size">81.2</td>
                        </tr>
                    </tbody>
                </table>
                <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                    <a class="btn custom-syllabus" href="#" target="_blank" download>
                        📄 Syllabus (PDF) - English
                    </a>
                </div>
            </div>
        </div>
    </div>





    <div class="container my-4">
        <div class="container">

        </div>
        <div class="partion">
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Physical Efficiency Test
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th></th>
                            <th>Male</th>
                            <th>Female</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">1600 Meters Run</td>
                            <td>5 min 45 seconds</td>
                            <td>NIL</td>
                        </tr>
                        <tr>
                            <td scope="col">800 Meter Run</td>
                            <td>NIL</td>
                            <td>3 min 40 Seconds</td>
                        </tr>
                        <tr>
                            <td scope="col">Long Jump</td>
                            <td>14 ft (2 Chances)</td>
                            <td>9 ft (2 Chances)</td>
                        </tr>
                        <tr>
                            <td scope="col">High Jump</td>
                            <td>4 ft (2 Chances)</td>
                            <td>3 ft (2 Chances)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Written Examination Pattern
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Subject</th>
                            <th>Questions</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">General Awareness</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td scope="col">Arithmetic</td>
                            <td>35</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td scope="col">General Intelligence & Reasoning</td>
                            <td>35</td>
                            <td>35</td>
                        </tr>
                        <tr>
                            <td scope="col" style="font-weight: bold;">Total</td>
                            <td>120</td>
                            <td>120</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <ul>
                        <li><strong>Note: </strong>Negative Mark 0.25 for each wrong answer</li>
                        <li><strong>Duration: </strong>90 Mins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>