<div class="container">

    <div class="tnusrb-sub-inspector-title">
        Tamil Nadu Uniformed Services Recruitment Board (TNUSRB) - Sub Inspector ( Technical )
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for TNUSRB - Sub Inspector ( Technical )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Selection Process for TNUSRB – Sub Inspector ( Technical )</span> are :-
        </div>
        <div class="list">
            <ol>
                <li>Written Examination</li>
                <li>Viva-Voice</li>
                <li>Medical Test</li>
            </ol>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for TNUSRB - Sub Inspector ( Technical )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            <span class="content">
                <ul>
                    <li>Minimum a second class <strong>Diploma in Electronics and Communication Engineering</strong>
                        awarded by the State Board of Technical Education, Tamil Nadu</li>
                    <li>A Degree <strong>(B.E/B.Tech) in Electronics and Communication Engineering</strong> recognised
                        by All India Council for Technical Education</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for TNUSRB - Sub Inspector ( Technical )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Age limit for TNUSRB – Sub Inspector ( Technical )</span> are
        </div>

        <table class="table table-bordered table-hover">
            <thead class="theader">
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Age ( in Years )</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>General</td>
                    <td>20 - 30</td>
                </tr>
                <tr>
                    <td>BC / MBC</td>
                    <td>20 - 32</td>
                </tr>
                <tr>
                    <td>SC / ST</td>
                    <td>20 - 35</td>
                </tr>
                <tr>
                    <td>Transgender</td>
                    <td>20 - 35</td>
                </tr>
                <tr>
                    <td>Female Widow</td>
                    <td>20 - 35</td>
                </tr>
                <tr>
                    <td>Ex-Service man</td>
                    <td>20 - 47</td>
                </tr>
                <tr>
                    <td>Departmental candidates appearing for departmental quota</td>
                    <td>20 - 47</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for TNUSRB - Sub Inspector ( Technical )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            In TNUSRB – Sub Inspector ( Technical ) physical test, the eligibility of candidates is measured as per
            <span class="bolder">height, chest </span> and <span class="bolder">medical standards.</span>
        </div>

        <div class="table-flex-column">
            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">Height ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-1">Category</td>
                        <td class="thead-1">Male</td>
                        <td class="thead-1">Female</td>
                    </tr>
                    <tr>
                        <td>General</td>
                        <td>170</td>
                        <td>159</td>
                    </tr>
                    <tr>
                        <td>BC, BC (M) / MBC</td>
                        <td>163</td>
                        <td>154</td>
                    </tr>
                    <tr>
                        <td>SC, SC (A) / ST</td>
                        <td>160</td>
                        <td>152</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">chest ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-2" rowspan="2">Only for Male</td>
                        <td class="thead-2">Normal</td>
                        <td class="thead-2"> Expanded</td>
                    </tr>
                    <tr>
                        <td class="chest-size">81</td>
                        <td class="chest-size">86</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container my-4">
    
    <div class="container">
        <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
            <a class="btn custom-syllabus" href="#" target="_blank" download>
                📄 Syllabus (PDF) - English
            </a>
        </div>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Special Marks
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col" colspan="2">Open candidates</th>
                        <th scope="col">Departmental candidates</th>
                        <th scope="col">Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">SPECIAL MARKS</td>
                        <td>NCC - 2 Marks, NSS - 1 Mark, Sport/Games - 2 Marks</td>
                        <td> National Police Duty Meet Gold – 5 Marks, Silver – 3 Marks, Bronze – 2 Marks</td>
                        <td>5 Marks</td>
                    </tr>
                </tbody>
            </table>
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <strong class="main-title">#No Physical test</strong>
        </div>

        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">The medium of the question paper shall be bilingual <strong>( Both English &
                        Tamil
                        )</strong></span>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <strong class="main-title">PART-I:</strong>
            </div>
            <div class="mt-2">
                <span class="content">Tamil Eligibility Test</span>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span><strong class="main-title">PART-II:</strong> Main Written Examination ( 80 Marks )</span>
                <ul>
                    <li><strong class="main-title">General Knowledge - </strong>80</li>
                    <li><strong class="main-title">Technical Subject - </strong>30</li>
                </ul>
            </div>
            <div class="mt-2">
                <span class="text"><strong>VIVA-VOICE: </strong>10 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>ADDITIONAL MARK FOR EDUCATIONAL QUALIFICATION:</strong> 5 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>SPECIAL MARKS:</strong> 5 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>TOTAL MARKS:</strong> 85 + 10 + 5 + 5 = 100</span>
            </div>
        </div>
    </div>
</div>