.card-img-top{
  border-radius: 50%;
  width: 40%;
  height: 100px;
  padding: 20px;
  display: block;
  margin-left: 75px;
  align-items: center;
}
.card-title{
width: 100%;
padding:5px;
background-color: skyblue;
text-align: center;
}
.card-subtitle{
    
}
