<div class="container">
    <div class="tnusrb-sub-inspector-title">
        CRPF - Central Reserve Police Force (General Duty)
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for CRPF - Central Reserve Police Force (General Duty)
        </div>
        <div class="list">
            <ol>
                <li>Computer-Based Written Exam (CBT) – Objective-type questions (based on 10th or 12th syllabus
                    depending on post)</li>
                <li>Physical Fitness Test (PFT), Document Verification, Initial Medical Test</li>
                <li>Final Document Check and Detailed Medical Exam at INS Chilka</li>
            </ol>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for CRPF - Central Reserve Police Force (General Duty)
        </div>
        <div class="mt-2">
            <ul>
                <li>10th Pass</li>
            </ul>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for CRPF - Central Reserve Police Force (General Duty)
        </div>
        <ol>
            <li>
                <strong>General (UR)</strong>
                <ul>
                    <li><strong>Minimum - </strong>18 Years</li>
                    <li><strong>Maximum - </strong>25 Years</li>
                </ul>
            </li>
            <li>
                <strong>OBC (NCL):</strong>
                <ul>
                    <li><strong>Minimum - </strong>18 Years</li>
                    <li><strong>Maximum - </strong>28 Years</li>
                    <li><strong>Age Relaxation - </strong>+3 Years</li>
                </ul>
            </li>

            <li>
                <strong>SC/ST:</strong>
                <ul>
                    <li><strong>Minimum - </strong>18 Years, </li>
                    <li><strong>Maximum - </strong>30 Years</li>
                    <li><strong>Age Relaxation - </strong>+5 Years</li>
                </ul>
            </li>

            <li>
                <strong>EX-Servicemen:</strong>
                <ul>
                    <li><strong>Minimum - </strong>18 Years</li>
                    <li><strong>Maximum - </strong>28 Years</li>
                    <li><strong>Age Relaxation - </strong>+3 Years</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for Border Security Force (Tradesman)
        </div>
        <strong class="main-title" style="margin-left: 20px;">Height:</strong>
        <ul style="list-style-type:circle; margin-left: 20px;">
            <li>Male – 170 cm (for ST 162.5 cm)</li>
            <li>Female – 157 cm (for ST 150 cm)</li>
        </ul>
        
        <strong class="main-title" style="margin-left: 20px;">Chest:</strong>
        <ul style="list-style-type:circle; margin-left: 20px;">
            <li>Unexpanded – 80 cm (for ST 76 cm)</li>
            <li>Minimum expansion – 5 cm</li>
        </ul>
    </div>
    <div class="container my-4">
        <div class="container">
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
        <div class="partion">
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Physical Efficiency Test
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th>Gender</th>
                            <th>Distance</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">Male</td>
                            <td>5 km</td>
                            <td>24 min</td>
                        </tr>
                        <tr>
                            <td scope="col">Female</td>
                            <td>1.6 km</td>
                            <td>8 min 30 Seconds</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Written Examination Pattern
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Subject</th>
                            <th>Questions</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">General Intelligence and Reasoning</td>
                            <td>20</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td scope="col">General Knowledge and General Awareness</td>
                            <td>20</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td scope="col">Elementary Mathematics</td>
                           <td>20</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td scope="col">English/Hindi</td>
                            <td>20</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td scope="col" style="font-weight: bold;">Total</td>
                            <td>80</td>
                            <td>160</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <ul>
                        <li><strong>Note: </strong>Negative Mark 0.5 for each wrong answer</li>
                        <li><strong>Duration: </strong>60 Mins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>