<div class="container">
    <div class="tnusrb-sub-inspector-title">
        Navy Matric Recruit ( MR )
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for Navy Matric Recruit ( MR )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Selection Process for Navy Matric Recruit ( MR )</span> are :-
        </div>
        <div class="list">
            <ol>
                <li>Written Examination (CBT)</li>
                <li>Physical Test</li>
                <li>Medical Test</li>
            </ol>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for Navy Matric Recruit ( MR )
        </div>
        <div class="mt-2">
            <span class="content"><strong>10th Pass</strong></span>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for Navy Matric Recruit ( MR )
        </div>
        <span class="content">The <strong>Age limit for Navy Matric Recruit</strong>
            are</span>
        <ol>
            <li><strong>Minimum - </strong>17.5 Years</li>
            <li><strong>Maximum - </strong>21 Years</li>
        </ol>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for Navy Matric Recruit ( MR )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            In Navy Matric Recruit physical test, the eligibility of candidates is measured as
            per
            <span class="bolder">height, chest </span> and <span class="bolder">medical standards.</span>
            <ul>
                <li>Height – 157</li>
                <li>Weight – Weight should be proportionate to heighte</li>
                <li>Chest – Minimum Expansion of 5 cms</li>
            </ul>
        </div>
    </div>
    <div class="container my-4">

        <button class="btn custom-button" (click)="showSyllabus = !showSyllabus">
            {{ showSyllabus ? ' ▲ Syllabus for Navy Matric Recruit' : ' ▼ Syllabus for Navy Matric Recruit' }}
        </button>

        <div *ngIf="showSyllabus" class="mt-3 card card-body" style="white-space: pre-line; text-align: justify;">
            <div
                style="font-size: 25px; text-align: center; font-weight: bold;margin-bottom: 40px;color: rgb(40, 40, 129);">
                Indian Navy – Matric Recruit (MR) Syllabus</div>
            <div class="row" style="margin-left: 20px;">
                <div class="row mb-4">
                    <strong class="main-title">Section 1: Science (Based on Class 10 standard)</strong>
                    <div class="col-md-6">
                        <ol>
                            <li style="font-weight: bold;">Physics:</li>
                            <ul>
                                <li>Motion, Speed, Velocity & Acceleration</li>
                                <li>Newton’s Laws of Motion</li>
                                <li>Work, Energy and Power</li>
                                <li>Gravitation</li>
                                <li>Sound – Basics and Properties</li>
                                <li>Heat, Temperature, and Expansion</li>
                                <li>Light – Reflection & Refraction</li>
                                <li>Static & Current Electricity</li>
                                <li>Magnetism</li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol start="2">
                            <li style="font-weight: bold;margin-left: 40px;">Chemistry:</li>
                            <ul style="margin-left: 40px;">
                                <li>Matter and Its States</li>
                                <li>Elements, Compounds and Mixtures</li>
                                <li>Acids, Bases and Salts</li>
                                <li>Chemical Reactions and Equations</li>
                                <li>Properties of Air and Water</li>
                                <li>Atomic Structure (Basic Level)</li>
                                <li>Metals and Non-Metals</li>
                                <li>Carbon and Its Compounds</li>
                                <li>Everyday Chemistry - Soaps, Detergents, Fertilizers, etc.,</li>
                            </ul>
                        </ol>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <ol start="3">
                            <li style="font-weight: bold;">Biology:</li>
                            <ul>
                                <li>Life Processes (Nutrition, Respiration, Excretion)</li>
                                <li>Structure and Functions of Plants and Animals</li>
                                <li>Human Digestive, Circulatory & Respiratory System</li>
                                <li>Reproduction in Plants and Humans</li>
                                <li>Health and Diseases</li>
                                <li>Cell Structure and Functions</li>
                                <li>Ecosystem and Environment</li>
                            </ul>
                        </ol>
                    </div>
                </div>
                <!-- Row 2: 3 4 -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <strong class="main-title">Section 2: Mathematics (Based on Class 10 syllabus)</strong>
                        <ol>
                            <ul>
                                <li>Number System</li>
                                <li>HCF and LCM</li>
                                <li>Simplification</li>
                                <li>Decimal & Fractions</li>
                                <li>Ratio and Proportion</li>
                                <li>Percentage</li>
                                <li>Average</li>
                                <li>Profit & Loss</li>
                                <li>Simple & Compound Interest</li>
                                <li>Time and Work</li>
                                <li>Time, Speed and Distance</li>
                                <li>Mensuration – Area and Volume</li>
                                <li>Algebra – Linear Equations</li>
                                <li>Geometry – Triangles, Circles, Polygons</li>
                                <li>Trigonometry (Basic)</li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <strong class="main-title">Section 3: General Awareness (Based on Class 10 syllabus)</strong>
                        <ol>
                            <ul style="margin-left: 40px;">
                                <li>Current Affairs (India & World)</li>
                                <li>Important Days and Events/li>
                                <li>Sports and Awards</li>
                                <li>Indian History, Freedom Movement</li>
                                <li>Geography – Continents, Oceans, Indian States</li>
                                <li>Indian Constitution and Governance</li>
                                <li>National Symbols</li>
                                <li>Defence Forces & Ranks</li>
                                <li>Books and Authors</li>
                                <li>Scientific Inventions and Discoveries</li>
                                <li>Basic Knowledge of Navy & Indian Armed Forces</li>
                            </ul>
                        </ol>
                    </div>
                </div>
            <div class="syllabus-link d-flex align-items-center gap-2 my-3">
                <img src="animated-click-here-.gif" alt="Click here" class="click-icon" />
                <span>
                    <a href="#" target="_blank" class="pdf-link">Navy - Matric Recruit ( MR )
                        Syllabus
                        (PDF) in English</a>
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
            <a class="btn custom-syllabus" href="#" target="_blank" download>
                📄 Syllabus (PDF) - English
            </a>
        </div>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th colspan="2">Physical Test</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">16000 Meters Race</td>
                        <td>7 min</td>
                    </tr>
                    <tr>
                        <td scope="col">Squats</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td scope="col">Pull ups</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-2">
                <span class="content"><strong>Note: </strong>Eligibility only no marks</span>
            </div>
        </div>
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Subject</th>
                        <th>Total Mark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Science</td>
                        <td rowspan="3" style="vertical-align: middle; text-align: center;">50</td>
                    </tr>
                    <tr>
                        <td scope="col">Mathematics</td>
                    </tr>
                    <tr>
                        <td scope="col">physics</td>
                    </tr>    
                </tbody>
            </table>
            <div class="mt-2">
                <ul>
                    <li><strong>Note: </strong>Negative Mark 0.25 for each wrong answer</li>
                    <li><strong>Duration: </strong>30 Mins</li>
                </ul>
            </div>
        </div>
    </div>