<div class="container">
    <div class="tnusrb-sub-inspector-title">
        <div>
            <div style="font-size: 28px; font-weight: 600; text-align: center;">
                Army - Technical
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center gap-3 mt-4 mb-3">
            <div style="max-width: 600px;">
                <span
                    style="display: block; font-size: 24px; color: rgb(3, 84, 160); margin-bottom: 10px; text-align: left;">
                    Overview:
                </span>
                <span style="font-weight: 450; font-size: 18px; color: black; display: block; text-align: justify;">
                    The Army Technical role is an important entry point for joining the Indian Army in technical and
                    engineering support positions. It recruits candidates to operate, maintain, and repair advanced
                    equipment, vehicles, and weapon systems vital for the Army’s operations. Selected candidates undergo
                    physical, military, and specialized technical training to prepare for their responsibilities.
                    Soldiers in the Technical category play a critical role in ensuring the Army’s equipment remains
                    operational, supporting frontline troops, and enhancing the Army’s overall combat readiness and
                    efficiency.
                </span>
            </div>

            <div class="d-flex justify-content-center w-100 mt-3 mt-md-0">
                <img class="float-up-down" style="width: 250px; max-width: 100%;" src="Army Technical.png"
                    alt="Army Technical" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>Written Examination (CBT)</li>
                    <li>Physical Test</li>
                    <li>Medical Test</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Educational Qualification
                </div>
                <div class="mt-2">
                    <span class="content"><strong>10th / +2</strong></span>
                    <br>
                    <span class="content">Pass Intermediate (Science) with Physics, Chemistry, Maths & English,
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>50% aggregate</strong> and <strong>40% in each
                            subject</strong>.</span>
                </div>
            </div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Age Limit
                </div>
                <table class="table table-bordered table-hover mt-3">
                    <thead class="theader">
                        <tr>
                            <th>Category</th>
                            <th>Age Limit (Years)</th>
                        </tr>
                    </thead>
                    <tbody style="font-weight: 450; font-size: 15px;">
                        <tr>
                            <td>General</td>
                            <td>17.5 – 21</td>
                        </tr>
                        <tr>
                            <td>BC / MBC</td>
                            <td>17.5 – 24</td>
                        </tr>
                        <tr>
                            <td>SC / ST</td>
                            <td>17.5 – 26</td>
                        </tr>
                        <tr>
                            <td>Transgender</td>
                            <td>17.5 – 26</td>
                        </tr>
                        <tr>
                            <td>Widows</td>
                            <td>17.5 – 28</td>
                        </tr>
                        <tr>
                            <td>Ex-Servicemen</td>
                            <td>17.5 – 47</td>
                        </tr>
                        <tr>
                            <td>Departmental Candidates</td>
                            <td>17.5 – 47</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Measurement
            </div>
            <table class="table table-bordered table-hover mt-3">
                <thead class="theader">
                    <tr>
                        <th>Measurement</th>
                        <th>Male</th>
                        <th>Female</th>
                    </tr>
                </thead>
                <tbody style="font-weight: 450; font-size: 15px;">
                    <tr>
                        <td>Height</td>
                        <td>Minimum 162 cm</td>
                        <td>Minimum 152 cm</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td colspan="2">As per BMI Scale</td>
                    </tr>
                </tbody>
            </table>
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
    </div>
    <div class="container">

    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th></th>
                        <th scope="col">Minimum</th>
                        <th scope="col">Maximum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">16000 Meters Race</td>
                        <td>5 min 30 seconds</td>
                        <td>5 min 45 seconds</td>
                    </tr>
                    <tr>
                        <td scope="col">Ditch Jump</td>
                        <td>9 feet</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="col">Pull ups</td>
                        <td>6</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td scope="col">Zig Zag Balance</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-2">
                <strong class="main-title">Marks for Physical:</strong>
            </div>

            <div class="mt-2">
                <strong class="main-title">1600 METERS RACE</strong>
            </div>
            <div class="mt-2">
                <span class="content">Group-1: Upto 5 min 30 seconds - <strong>60 Marks</strong></span>
            </div>
            <div class="mt-2">
                <span class="content">Group-2: From 5 min 31 seconds (to) 5 min 45 seconds - <strong>48
                        Marks</strong></span>
            </div>
            <div class="mt-2">
                <strong class="main-title">PULL UPS:</strong>
                <span class="content">
                    <ul>
                        <li>10 Pull Ups – 40 Marks</li>
                        <li>9 Pull Ups – 33 Marks</li>
                        <li>8 Pull Ups – 27 Marks</li>
                        <li>7 Pull Ups – 21 Marks</li>
                        <li>6 Pull Ups – 16 Marks</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Questions</th>
                        <th>Mark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">General Knowledge & Reasoning</td>
                        <td>10</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td scope="col">Mathematics</td>
                        <td>15</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td scope="col">physics</td>
                        <td>15</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td scope="col">Chemistry</td>
                        <td>10</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Total</td>
                        <td>50</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;" >Pass Mark</td>
                        <td>-</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-2">
                <ul>
                    <li><strong>Note: </strong>Negative Mark 1 for each wrong answer</li>
                    <li><strong>Duration: </strong>60 Mins</li>
                </ul>
            </div>
        </div>
    </div>