<div class="container">
    <div class="tnusrb-sub-inspector-title">
        Army ( Technical )
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for Army ( Technical )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Selection Process for Army ( Technical )</span> are :-
        </div>
        <div class="list">
            <ol>
                <li>Written Examination (CBT)</li>
                <li>Physical Test</li>
                <li>Medical Test</li>
            </ol>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for Army ( Technical )
        </div>
        <div class="mt-2">
            <span class="content"><strong>10th/+2</strong></span>
            <br>
            <span class="content"> Intermediate Exam pass in Science with Physics, Chemistry, Maths and English with 50%
                marks in aggregate and 40% marks in each subject.</span>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for Army Technical
        </div>
        <span class="content">The <strong>Age limit for Army ( Technical )</strong>
            are</span>
        <ol>
            <li><strong>Minimum - </strong>17.5 Years</li>
            <li><strong>Maximum - </strong>21 Years</li>
        </ol>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for Army Technical
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            In Army Technical physical test, the eligibility of candidates is measured as
            per
            <span class="bolder">height, chest </span> and <span class="bolder">medical standards.</span>
            <ul>
                <li>Height - 162</li>
                <li>Weight - This is Based on BMI Scale</li>
            </ul>
        </div>
    </div>
    <div class="container my-4">

        <button class="btn custom-button" (click)="showSyllabus = !showSyllabus">
            {{ showSyllabus ? ' ▲ Syllabus for Army Technical' : ' ▼ Syllabus for Army Technical' }}
        </button>

        <div *ngIf="showSyllabus" class="mt-3 card card-body" style="white-space: pre-line; text-align: justify;">
            <div style="font-size: 25px; text-align: center; font-weight: bold;margin-bottom: 40px;color: rgb(40, 40, 129);">Army Technical – Syllabus Overview</div>
            <div class="row" style="margin-left: 20px;">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <strong class="main-title">General Knowledge & Reasoning</strong>
                        <ol>
                            <ul>
                                <li>History and Indian Culture</li>
                                <li>Geography of India and the World</li>
                                <li>Abbreviations (Defense, Banking, Tech)</li>
                                <li>Sports & Tournaments</li>
                                <li>Awards and Honors</li>
                                <li>Important Terminology (Defense & Current Affairs)</li>
                                <li>Indian Armed Forces – Structure and Commands</li>
                                <li>Continents and Sub-Continents</li>
                                <li>Inventions and Discoveries</li>
                                <li>Indian Constitution – Key Articles and Facts</li>
                                <li>International Organizations (UN, WHO, WTO, etc.)</li>
                                <li>Books and Authors</li>
                                <li>Important National & Global Events</li>
                                <li>Prominent Personalities in News</li>
                                <li>General Reasoning – Analytical and Logical Thinking, Pattern Recognition, Series, and Puzzles</li>
                            </ul>
                        </ol>
                    </div>
                   <div class="col-md-6">
                        <strong class="main-title">Mathematics</strong>
                        <br>
                        <strong class="main-title" style="padding-left: 40px;">Comprehensive coverage of advanced topics:</strong>
                        <ol>
                            <li style="font-weight: bold;margin-left: 40px;">Arithmetic & Number Systems:</li>
                            <ul style="margin-left: 40px;">
                                <li>Basic Operations, Fractions, LCM, HCF, Decimals</li>
                                <li>Percentages, Averages, Profit & Loss</li>
                                <li>Time & Distance, Time & Work</li>
                            </ul>
                        </ol>
                        <ol start="2">
                            <li style="font-weight: bold;margin-left: 40px;">Algebra:</li>
                            <ul style="margin-left: 40px;">
                                <li>Expressions, Linear & Quadratic Equations</li>
                                <li>Identities and Factorization</li>
                            </ul>
                        </ol>
                        <ol start="3">
                            <li style="font-weight: bold;margin-left: 40px;">Matrices & Determinants:</li>
                            <ul style="margin-left: 40px;">
                                <li>Basic Operations, Inverses, Properties</li>
                            </ul>
                        </ol>
                        <ol start="4">
                            <li style="font-weight: bold;margin-left: 40px;">Analytical Geometry:</li>
                            <ul style="margin-left: 40px;">
                                <li>Cartesian Coordinates, Distance Formula</li>
                                <li>Lines and Circles – Equation and Properties</li>
                            </ul>
                        </ol>
                        <ol start="5">
                            <li style="font-weight: bold;margin-left: 40px;">Trigonometry:</li>
                            <ul style="margin-left: 40px;">
                                <li>Trigonometric Ratios</li>
                                <li>Heights and Distances</li>
                                <li>Basic Identities</li>
                            </ul>
                        </ol>
                        <ol start="6">
                            <li style="font-weight: bold;margin-left: 40px;">Calculus:</li>
                            <ul style="margin-left: 40px;">
                                <li>Differential and Integral Calculus – Basics</li>
                                <li>Derivatives and Integration of Simple Functions</li>
                            </ul>
                        </ol>
                        <ol start="7">
                            <li style="font-weight: bold;margin-left: 40px;">Statistics & Probability:</li>
                            <ul style="margin-left: 40px;">
                                <li>Mean, Median, Mode</li>
                                <li>Probability – Simple Events</li>
                            </ul>
                        </ol>
                        <ol start="8">
                            <li style="font-weight: bold;margin-left: 40px;">Mensuration:</li>
                            <ul style="margin-left: 40px;">
                                <li>Area, Volume, and Surface Area of 2D and 3D Shapes</li>
                            </ul>
                        </ol>
                    </div>
                </div>
                <!-- Row 2: 3 4 -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <strong class="main-title">Physics:</strong><br>
                        <strong class="main-title">Applied and theoretical physics based on 10+2 level:</strong>
                        <ul style="list-style-type: circle;">
                            <li>Properties and States of Matter</li>
                            <li>Mass, Weight, Volume, Density & Specific Gravity</li>
                            <li>Archimedes’ Principle</li>
                            <li>Pressure & Barometer</li>
                            <li>Motion – Velocity, Acceleration</li>
                            <li>Newton’s Laws of Motion</li>
                            <li>Force, Momentum, and Work</li>
                            <li>Power and Energy</li>
                            <li>Gravitation and Equilibrium</li>
                            <li>Heat – Temperature, Expansion, Effects</li>
                            <li>Sound – Wave Properties, Pitch, Frequency</li>
                            <li>Reflection & Refraction</li>
                            <li>Spherical Mirrors and Lenses</li>
                            <li>Magnetism – Types and Properties</li>
                            <li>Electricity – Static and Current</li>
                            <ul>
                                <li>Ohm’s Law, Circuits</li>
                                <li>Conductors and Insulators</li>
                            </ul>
                            <li>Heating Effects of Current</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <strong class="main-title">Chemistry</strong><br>
                        <strong class="main-title">Focus on basic and applied chemistry concepts:</strong>
                        <ul style="list-style-type: circle;">
                            <li>Physical and Chemical Changes</li>
                            <li>Elements, Mixtures & Compounds</li>
                            <li>Symbols and Formulae</li>
                            <li>Chemical Equations & Laws of Combination</li>
                            <li>Properties of Air & Water</li>
                            <li>Hydrogen, Oxygen, Nitrogen, CO₂ – Preparation and Properties</li>
                            <li>Oxidation and Reduction</li>
                            <li>Acids, Bases, and Salts</li>
                            <li>Carbon – Allotropes and Compounds</li>
                            <li>Fertilizers – Natural and Synthetic</li>
                            <li>Atomic Structure – Atom, Molecule, Valency</li>
                            <li>Molecular, Atomic & Equivalent Weights</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="syllabus-link d-flex align-items-center gap-2 my-3">
                <img src="animated-click-here-.gif" alt="Click here" class="click-icon" />
                <span>
                    <a href="#" target="_blank" class="pdf-link">Army Soldier Clerk / Store Keeper Technical
                        Syllabus
                        (PDF) in English</a>
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
            <a class="btn custom-syllabus" href="#" target="_blank" download>
                📄 Syllabus (PDF) - English
            </a>
        </div>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th></th>
                        <th scope="col">Minimum</th>
                        <th scope="col">Maximum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">16000 Meters Race</td>
                        <td>5 min 30 seconds</td>
                        <td>5 min 45 seconds</td>
                    </tr>
                    <tr>
                        <td scope="col">Ditch Jump</td>
                        <td>9 feet</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="col">Pull ups</td>
                        <td>6</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td scope="col">Zig Zag Balance</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-2">
                <strong class="main-title">Marks for Physical:</strong>
            </div>

            <div class="mt-2">
                <strong class="main-title">1600 METERS RACE</strong>
            </div>
            <div class="mt-2">
                <span class="content">Group-1: Upto 5 min 30 seconds - <strong>60 Marks</strong></span>
            </div>
            <div class="mt-2">
                <span class="content">Group-2: From 5 min 31 seconds (to) 5 min 45 seconds - <strong>48
                        Marks</strong></span>
            </div>
            <div class="mt-2">
                <strong class="main-title">PULL UPS:</strong>
                <span class="content">
                    <ul>
                        <li>10 Pull Ups – 40 Marks</li>
                        <li>9 Pull Ups – 33 Marks</li>
                        <li>8 Pull Ups – 27 Marks</li>
                        <li>7 Pull Ups – 21 Marks</li>
                        <li>6 Pull Ups – 16 Marks</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Questions</th>
                        <th>Mark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">General Knowledge & Reasoning</td>
                        <td>10</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td scope="col">Mathematics</td>
                        <td>15</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td scope="col">physics</td>
                        <td>15</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td scope="col">Chemistry</td>
                        <td>10</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Total</td>
                        <td>50</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;" colspan="2">Pass Mark</td>
                        <td>-</td>
                        <td>80</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-2">
                <ul>
                    <li><strong>Note: </strong>Negative Mark 1 for each wrong answer</li>
                    <li><strong>Duration: </strong>60 Mins</li>
                </ul>
            </div>
        </div>
    </div>