<div class="container">
    <div class="tnusrb-sub-inspector-title">
        Indian Coast Guard Navik - Domestic Branch ( DB )
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for Indian Coast Guard Navik - Domestic Branch ( DB )
        </div>
        <div class="list">
            <ol>
                <li>Computer-Based Written Exam (CBT) – Objective-type questions (based on 10th or 12th syllabus
                    depending on post)</li>
                <li>Physical Fitness Test (PFT), Document Verification, Initial Medical Test</li>
                <li>Final Document Check and Detailed Medical Exam at INS Chilka</li>
                <li>Final Merit List & All India Rank (based on performance in earlier stages)</li>
            </ol>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for Indian Coast Guard Navik - Domestic Branch ( DB )
        </div>
        <div class="mt-2">
            <ul>
                <li><strong>10th , +2</strong> with Maths & Physics</li>
            </ul>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for Indian Coast Guard Navik - Domestic Branch ( DB )
        </div>
        <ol>
            <li><strong>Minimum - </strong>18 Years</li>
            <li><strong>Maximum - </strong>22 Years</li>
        </ol>
        <strong class="main-title">Relaxation:</strong>
        <ul>
            <li><strong>SC / ST: </strong>+5 years</li>
            <li><strong>OBC (NCL): </strong>+3 years</li>
        </ul>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for Indian Coast Guard Navik - Domestic Branch ( DB )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            <ul>
                <li>Height – 157</li>
                <li>Weight – Weight should be proportionate to height</li>
                <li>Chest – Minimum Expansion of 5 cms</li>
                <li>Hearing – Normal</li>
                <li>Vision – 6/6 (Better Eye) and 6/9 (Worse Eye) without glasses</li>
            </ul>
        </div>
    </div>
    <div class="container my-4">
        <div class="container">
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
        <div class="partion">
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Physical Efficiency Test
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th colspan="2">Physical Test</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">1600 Meters Race</td>
                            <td>7 min</td>
                        </tr>
                        <tr>
                            <td scope="col">Squats</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td scope="col">Pull ups</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mt-2">
                    <span class="content"><strong>Note: </strong>Eligibility only no marks</span>
                </div>
            </div>
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Written Examination Pattern
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Subject</th>
                            <th>Questions</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">Science</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td scope="col">Mathematics</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td scope="col">General Knowledge</td>
                            <td>5</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td scope="col">Reasoning</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td scope="col">English</td>
                            <td>15</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td scope="col" style="font-weight: bold;">Total</td>
                            <td>60</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <ul>
                        <li><strong>Note: </strong>No Negative Mark</li>
                        <li><strong>Duration: </strong>45 Mins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>