<div class="container">

    <div class="tnusrb-sub-inspector-title">
        <div>
            <div class="tnusrb-police-constable-content-head">
                National Defence Academy (NDA)
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center gap-3 mt-4 mb-3">
            <!-- Text Content -->
            <div style="max-width: 600px;">
                <span style="
                display: block;
                font-size: 24px;
                color: rgb(3, 84, 160);
                margin-bottom: 10px;
                text-align: left;">
                    Overview:
                </span>
                <span style="
                font-weight: 450;
                font-size: 18px;
                color: black;
                display: block;
                text-align: justify;">
                    The National Defence Academy (NDA) is a premier joint training institution and center of excellence
                    for
                    grooming future leaders of the Indian Armed Forces. It trains cadets for the Army, Navy, and Air
                    Force,
                    instilling discipline, leadership, and military skills. NDA cadets undergo rigorous academic,
                    physical,
                    and military training to prepare for service as commissioned officers, dedicated to national
                    security and
                    defense.
                </span>
            </div>

            <!-- Image -->
            <div class="d-flex justify-content-center w-100 mt-3 mt-md-0">
                <img class="float-up-down img-fluid" src="NDA-people.png" alt="NDA" />
            </div>
        </div>
    </div>


    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>Written Examination</li>
                    <li>Services Selection Board (SSB) Interview</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Educational Qualification
                </div>
                <div class="tnusrb-police-constabel-sub-heading">
                    <span class="content">
                        <ul>
                            <li>Passed or appearing in <strong>Class 12</strong></li>
                            <li><strong>Air Force & Naval Wings:</strong> Class 12 with <strong>Physics, Chemistry,
                                    Mathematics</strong></li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Age Limit
                    <div class="tnusrb-police-constabel-sub-heading">
                        <!-- Age limit for NDA Exam -->
                    </div>

                    <table class="table table-bordered table-hover">
                        <thead class="theader">
                            <tr>
                                <th scope="col">Category</th>
                                <th scope="col" style="text-align: center;">Age <br> (Years)</th>
                            </tr>
                        </thead>
                        <tbody style="font-weight: 450; font-size: 15px;">
                            <tr>
                                <td>All Candidates</td>
                                <td>16.5 - 19.5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Measurement Test​
            </div>
            <div class="table-flex-column">
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="3">Height ( in cm )</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gender</td>
                            <td>Service</td>
                            <td>minimum Height</td>
                        </tr>
                        <tr>
                            <td rowspan="2">Male</td>
                            <td>Army & Navy</td>
                            <td>157 cm</td>
                        </tr>
                        <tr>
                            <td>Air Force</td>
                            <td>162.5 cm</td>
                        </tr>
                        <tr>
                            <td>Female</td>
                            <td>All Services</td>
                            <td>152 cm</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <thead class="theader">
                        <tr>
                            <th colspan="3">chest ( in cm )</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="thead-2" rowspan="2">Only for Male</td>
                            <td class="thead-2">Normal</td>
                            <td class="thead-2"> Expanded</td>
                        </tr>
                        <tr>
                            <td class="chest-size">81</td>
                            <td class="chest-size">86</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
    </div>





    <div class="container">

    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <span class="content"><strong class="main-title">Male: </strong>Walk 25Km in 4 hours</span><br><br>
            <span class="content"><strong class="main-title">Female: </strong>Walk 16Km in 4 hours</span>
        </div>

        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">The medium of the question paper shall be bilingual <strong>( Both English &
                        Tamil
                        )</strong></span>
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Paper</th>
                        <th scope="col">Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">General Knowledge</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td scope="col">General Science</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Total</td>
                        <td>200</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-2">
                <span class="text"><strong>Note:</strong> No Negative Mark </span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>Duration:</strong> 3 hours</span>
            </div>
        </div>
    </div>
</div>