<div class="container">

    <div class="tnusrb-sub-inspector-title">
        Tamil Nadu Uniformed Services Recruitment Board (TNUSRB) - Sub Inspector (SI)
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for TNUSRB - Sub Inspector (SI)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Selection Process for TNUSRB – Sub Inspector (SI)</span> are :-
        </div>
        <div class="list">
            <ol>
                <li>Written Examination</li>
                <li>Physical Efficiency Test</li>
                <li>Viva-Voice</li>
                <li>Medical Test</li>
            </ol>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for TNUSRB - Sub Inspector (SI)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            <span class="bolder">
                <ul>
                    <li>Any Degree from a recognized university</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for TNUSRB - Police Constable (PC)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Age limit for TNUSRB – Police Constable (PC)</span> are
        </div>

        <table class="table table-bordered table-hover">
            <thead class="theader">
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Age ( in Years )</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>General</td>
                    <td>18 - 30</td>
                </tr>
                <tr>
                    <td>BC / MBC</td>
                    <td>18 - 32</td>
                </tr>
                <tr>
                    <td>SC / ST</td>
                    <td>18 - 35</td>
                </tr>
                <tr>
                    <td>Transgender</td>
                    <td>18 - 35</td>
                </tr>
                <tr>
                    <td>Widows</td>
                    <td>18 - 37</td>
                </tr>
                <tr>
                    <td>Ex-Service man</td>
                    <td>Up to 47</td>
                </tr>
                <tr>
                    <td>Departmental candidates appearing for departmental quota</td>
                    <td>Up to 47</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for TNUSRB - Sub Inspector (SI)
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            In TNUSRB – Sub Inspector (SI) physical test, the eligibility of candidates is measured as per <span
                class="bolder">height, chest </span> and <span class="bolder">medical standards.</span>
        </div>

        <div class="table-flex-column">
            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">Height ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-1">Category</td>
                        <td class="thead-1">Male</td>
                        <td class="thead-1">Female</td>
                    </tr>
                    <tr>
                        <td>General</td>
                        <td>170</td>
                        <td>159</td>
                    </tr>
                    <tr>
                        <td>BC / MBC</td>
                        <td>170</td>
                        <td>159</td>
                    </tr>
                    <tr>
                        <td>SC, SC (A) / ST</td>
                        <td>167</td>
                        <td>157</td>
                    </tr>

                </tbody>
            </table>

            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">chest ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-2" rowspan="2">Only for Male</td>
                        <td class="thead-2">Normal</td>
                        <td class="thead-2"> Expanded</td>
                    </tr>
                    <tr>
                        <td class="chest-size">81</td>
                        <td class="chest-size">86</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container my-4">
    <button class="btn custom-button" (click)="showSyllabus = !showSyllabus">
        {{ showSyllabus ? ' ▲ Syllabus for TNUSRB - Police Constable' : ' ▼ Syllabus for TNUSRB - Police Constable' }}
    </button>

    <div *ngIf="showSyllabus" class="mt-3 card card-body" style="white-space: pre-line; text-align: justify;">
        <strong class="SI-main-title">The Written Examination for the selection of Sub-Inspectors of Police (Taluk, AR &
            TSP) will have two parts:</strong>
        <strong class="main-title">Part I</strong>
        <span class="content">Tamil Language Eligibility Test [Common for Open Quota and Departmental Quota
            Candidates]:</span>
        <span class="content">i. The Tamil Language Eligibility Test is qualifying in nature. It will consist of
            objective type questions of 1 mark each.</span>
        <span class="content">ii. In respect of 20% Departmental candidates, the Tamil Language eligibility Test will be
            commonly conducted along with those who are applying in open quota.</span>
        <span class="content">iii. The candidates who have applied under BOTH Open and Departmental category will have
            to write the commonly conducted Tamil Language Eligibility Test only once.</span>
        <strong class="main-title">SYLLABUS FOR TAMIL ELIGIBILITY TEST</strong>
        <span class="content">Objective type questions will be asked to test the basic knowledge of Tamil language as
            taught upto 10th standard of the Tamil Nadu State Board. The syllabus is divided into three parts:</span>
        <strong class="main-title">Part II</strong>
        <strong class="main-title">1. Main Written examination [For Open Quota Candidates]:</strong>
        <span class="content">The Main Written examination for Open Quota Candidates will be for 70 marks consisting 140
            objective type questions of ½ mark each. The duration of examination will 2 ½ Hours. The candidates should
            get a minimum of 25 marks to qualify in the written examination. It will consist of :</span>
        <span class="content"><strong>Part – A –</strong> General Knowledge (40 Marks – 80 Questions)</span>
        <span class="content"><strong>Part – B –</strong> Psychology Test (30 marks – 60 Questions)</span>
        <strong class="main-title">PART – A</strong>
        <strong class="main-title">General Knowledge:</strong>
        <span class="content">The candidates are required to have a general appreciation and understanding of topics as
            maybe expected of a well educated person without any specialised study. The syllabus includes the following
            topics:</span>
        <div class="syllabus-list">
            <ol>
                <li><strong class="main-title">General Science: </strong>Physics, Chemistry and Biology viz. Inventions
                    and Discoveries. Scientists and their contributions, Human Physiology, Diseases and their causes,
                    cure and prevention, Diet and Nutrition, Genetics, Animals, Plants, Environment and Ecology,
                    Elements and compounds, Acids, Bases and Salts and allied subjects, Motion, Properties of Matter,
                    Light, Electricity and other related topics.</li>
                <li><strong class="main-title">History: </strong>Dates and events of Indian History from Indus Valley
                    Civilisation to present day modern India. Important events of World history.</li>
                <li><strong class="main-title">Geography: </strong>Regions of India, Monsoon and climate, Crops, Indian
                    Towns and Places, Major Ports, Minerals, Industries, Power Plants, Forests and Wildlife, National
                    Parks, Population distribution in India and other related topics.</li>
                <li><strong class="main-title">Economics: </strong>Agriculture in India, Industrial Development, Rural
                    Development, Price policy, Inflation, Population and Un-employment problems, Imports and Export, 5
                    year planning and related topics.</li>
                <li><strong class="main-title">Indian Polity: </strong>Indian Constitution, Citizenship, Elections,
                    Parliament and State legislatures, Executive, Judicial system, Local Self Governments, Centre-State
                    Relationship, Foreign Policy and other related topics.</li>
                <li><strong class="main-title">General Knowledge & Current Affairs: </strong>Latest development in
                    Science and Technology, Political developments in India, Arts & Culture of India and Tamil Nadu,
                    Games and Sports, National and International awards, National and International organizations,
                    Abbreviations, Who’s Who, Books and Authors, India and its Neighbours, present day India and other
                    related topics.</li>
            </ol>
        </div>
        <strong class="main-title">PART – B</strong>
        <strong class="main-title">Psychology Test [For Open and Departmental Candidates]</strong>
        <div class="syllabus-list">
            <ol>
                <li><strong class="main-title">Logical Analysis: </strong>Analysis of any information logically to find out various dimensions of the information.</li>
                <li><strong class="main-title">Numerical Analysis: </strong>Quick response with regard to numerical ability will be tested.</li>
                <li><strong class="main-title">Communication Skills: </strong>Effective usage of Tamil & English languages will be tested.</li>
                <li><strong class="main-title">Information Handling Ability: </strong>For any given information, the various aspects of the information, the inferences and connected facts will be tested.</li>
                <li><strong class="main-title">Mental Ability: </strong>These tests are meant to verify the candidate’s capability to draw conclusions through, inductive or deductive reasoning.</li>
            </ol>
        </div>
        <strong class="main-title">2. Main Written Examination [For Departmental Quota Candidates]:</strong>
        <span class="content">The Main Written Examination for Departmental Quota Candidates will be for 85 marks consisting 170 objective type questions of ½ mark each. The duration of examination will 3 Hours. The candidates should get a minimum of 30 marks to qualify in the written examination. It will consist of:</span>
        <span class="content"><strong class="main-title">Part – A – </strong>(15 Marks – 30 Questions)</span>
        <strong class="main-title">General Knowledge</strong>
        <span class="content">The Syllabus will be the same as Open Quota Candidates.</span>
        <span class="content"><strong>Part – B –</strong> (70 Marks – 140 Questions)</span>
        <strong class="main-title">Psychology Test</strong>
        <span class="content">The syllabus for Psychological Test will be the same as Open Quota Candidates.</span>
        <span class="content">In addition to the above, the Departmental Quota candidates will have questions on the following police subjects in Part-B.</span>
        <span class="content">Indian Penal Code, Criminal Procedure Code, Indian Evidence Act, Police Standing Order and Police Administration.</span>
        <div class="syllabus-link d-flex align-items-center gap-2 my-3">
            <img src="animated-click-here-.gif" alt="Click here" class="click-icon" />
            <span>
                TNUSRB – Police Constable (PC)
                <a href="pdf-folders/TNUSRB  - SI (TALUK, AR & TSP) SYLLABUS Tamil medium.pdf" target="_blank"
                    class="pdf-link">Syllabus (PDF) in Tamil</a>
                &
                <a href="pdf-folders/TNUSRB -SI (TALUK, AR & TSP) SYLLABUS English medium.pdf" target="_blank"
                    class="pdf-link">Syllabus (PDF) in English</a>
            </span>
        </div>
    </div>
    <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
        <a class="btn custom-syllabus" href="pdf-folders/TNUSRB  - SI (TALUK, AR & TSP) SYLLABUS Tamil medium.pdf"
            target="_blank" download>
            📄 Syllabus (PDF) - Tamil
        </a>

        <a class="btn custom-syllabus" href="pdf-folders/TNUSRB -SI (TALUK, AR & TSP) SYLLABUS English medium.pdf"
            target="_blank" download>
            📄 Syllabus (PDF) - English
        </a>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical EFFICIENCY Test
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Event (Men)</th>
                        <th></th>
                        <th scope="col">1 STAR (4 Marks)</th>
                        <th scope="col">2 STAR (8 Marks)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Rope Climbing</td>
                        <td></td>
                        <td>5.0 m</td>
                        <td>6.0 m</td>
                    </tr>
                    <tr>
                        <td scope="col" rowspan="2" class="vertical-align">Long Jump & High Jump</td>
                        <td>Long Jump</td>
                        <td>3.80 m</td>
                        <td>4.50 m</td>
                    </tr>
                    <tr>
                        <td>High Jump</td>
                        <td>1.20 m</td>
                        <td>1.40 m</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="vertical-align">Running 100 m or 400 m</td>
                        <td>100 m</td>
                        <td>15.00 seconds</td>
                        <td>13.50 seconds</td>
                    </tr>
                    <tr>
                        <td>400 m</td>
                        <td>80.00 seconds</td>
                        <td>70.00 seconds</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Event (Women)</th>
                        <th></th>
                        <th scope="col">1 STAR (4 Marks)</th>
                        <th scope="col">2 STAR (8 Marks)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Rope Climbing</td>
                        <td></td>
                        <td>3.0 m</td>
                        <td>3.75 m</td>
                    </tr>
                    <tr>
                        <td scope="col" rowspan="2" class="vertical-align">Short put throw Or Cricket ball throw</td>
                        <td>Shot – put throw</td>
                        <td>4.25 m</td>
                        <td>5.50 m</td>
                    </tr>
                    <tr>
                        <td>Cricket ball throw</td>
                        <td>17 m</td>
                        <td>24 m</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="vertical-align">Running 100m or 200m</td>
                        <td>100 m</td>
                        <td>17.50 seconds</td>
                        <td>15.50 seconds</td>
                    </tr>
                    <tr>
                        <td>200 m</td>
                        <td>38.00 seconds</td>
                        <td>33.00 seconds</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">Tamil Eligibility Test (80 Marks) (Objective type) <strong>( Both English & Tamil )</strong></span>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <strong class="main-title">PART-I:</strong>
            </div>
            <div class="mt-2">
                <span class="content">Tamil Eligibility Test (100 Marks) (Objective type) <strong>PASS MARK-40</strong></span>
                <ul class="list-1">
                    <li><strong>Duration:</strong> 100 Mins</li>
                </ul>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <strong class="main-title">PART-II:</strong>
            </div>
            <div class="mt-2">
                <span><strong>GK</strong>(General Science, History, Geography, Economics  & Commerce, Polity, Current Events) & <strong>Psychology test.</strong> Objective-type paper (70 marks)</span>
            </div>
            <div class="mt-2">
                <ul class="list-2">
                    <li><strong>Note:</strong> No Negative Mark </li>
                    <li><strong>Duration:</strong> 150 Mins</li>
                    <li><strong>Books:</strong> 6th to 10th Tamil Nadu School Text Book</li>
                </ul>
            </div>
            <div class="mt-2">
                <span class="text"><strong>VIVA-VOICE: </strong>10 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>NCC / NSS / Sports:</strong> 5 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>TOTAL MARKS:</strong> 70 + 15 + 10 + 5 = 100</span>
            </div>
        </div>
    </div>
</div>