<div class="container">
    <div class="tnusrb-sub-inspector-title">
        <div>
            <div class="tnusrb-police-constable-content-head">
                Indian Air Force (Group Y)
            </div>
        </div>

        <div class="row mt-4 mb-3 align-items-center">
            <!-- Text Block -->
            <div class="col-12 col-md-8 mb-3 mb-md-0">
                <span
                    style="display: block; font-size: 24px; color: rgb(3, 84, 160); margin-bottom: 10px; text-align: left;">
                    Overview:
                </span>
                <span style="font-weight: 450; font-size: 18px; color: black; display: block; text-align: justify;">
                    The Indian Air Force offers a remarkable opportunity to serve the nation by safeguarding its
                    airspace
                    and supporting defense operations. Through the Group Y entry, candidates are recruited for various
                    non-technical roles in fields like logistics, administration, medical assistance, accounts, and
                    ground support. They perform essential duties that ensure the smooth functioning of airbases and
                    operations. Personnel undergo rigorous physical, academic, and professional training to excel in
                    their responsibilities. Group Y airmen play a key role in maintaining the efficiency, readiness, and
                    operational effectiveness of the Indian Air Force.
                </span>
            </div>

            <!-- Image Block -->
            <div class="col-12 col-md-4 text-center">
                <img class="float-up-down img-fluid"  src="Indian Air Force (Group Y).png"
                    alt="Indian Air Force Group Y" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>CBT – Objective (10th/12th syllabus)</li>
                    <li>PFT, Document Check & Initial Medical</li>
                    <li>Final Verification & Medical at INS Chilka</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Educational Qualification
                </div>
                <div class="mt-2">
                    <ul>
                        <li><strong>10th , +2</strong> with Maths & Physics</li>
                    </ul>
                </div>
            </div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Age Limit
                </div>
                <table class="table table-bordered table-hover mt-2">
                    <thead class="theader">
                        <tr>
                            <th>Category</th>
                            <th>Age Limit</th>
                            <th>Relaxation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>General</td>
                            <td>17 – 21 Years</td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td>SC / ST</td>
                            <td>17 – 26 Years</td>
                            <td>+5 Years</td>
                        </tr>
                        <tr>
                            <td>OBC (NCL)</td>
                            <td>17 – 24 Years</td>
                            <td>+3 Years</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Measurement Test
            </div>

            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th>Parameter</th>
                        <th>Male</th>
                        <th>Female</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Height</td>
                        <td>162.5 cm</td>
                        <td>152 cm</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>50 kg</td>
                        <td>48 kg</td>
                    </tr>
                    <tr>
                        <td>Chest</td>
                        <td>Minimum expansion of 5 cm</td>
                        <td>Not applicable</td>
                    </tr>
                </tbody>
            </table>
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="container">

        </div>
        <div class="partion">
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Physical Efficiency Test
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th colspan="2">Physical Test</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">1600 Meters Race</td>
                            <td>6 min 30 seconds</td>
                        </tr>
                        <tr>
                            <td scope="col">Squats</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td scope="col">Pull ups</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td scope="col">Sit Ups</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>

                <div class="mt-2">
                    <span class="content"><strong>Note: </strong>Eligibility only no marks</span>
                </div>
            </div>
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Written Examination Pattern
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Subject</th>
                            <th>Questions</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">English</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td scope="col">Reasoning & General Awareness</td>
                            <td>30</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td scope="col" style="font-weight: bold;">Total</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <ul>
                        <li><strong>Note: </strong>Negative Mark 0.25 for each wrong answer</li>
                        <li><strong>Duration: </strong>45 Mins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>