<div class="container">
    <div class="tnusrb-sub-inspector-title">
        CRPF - Central Reserve Police Force (Tradesman)
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for CRPF - Central Reserve Police Force (Tradesman)
        </div>
        <div class="list">
            <ol>
                <li>Computer-Based Written Exam (CBT) – Objective-type questions (based on 10th or 12th syllabus
                    depending on post)</li>
                <li>Physical Fitness Test (PFT), Document Verification, Initial Medical Test</li>
                <li>Final Document Check and Detailed Medical Exam at INS Chilka</li>
            </ol>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for CRPF - Central Reserve Police Force (Tradesman)
            <div class="mt-2">
                <ul>
                    <li>10th Pass</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for CRPF - Central Reserve Police Force (Tradesman)
        </div>
        <ol>
            <li>Constable(Driver): 21-30 Years</li>
            <li>Constable (MMV/Cobbler/ Carpenter/ Tailor/Brass Band/Pipe Band/ Bugler/ Gardner/ Painter/Cook/Water
                Carrier / Washerman/ Barber/ SafaiKaramchari/ Mason/ Plumber/ Electrician): 18-26 Years</li>
            <li>
                <strong>Age Relaxation:</strong>
                <ul>
                    <li>OBC – 3 Years</li>
                    <li>SC/ST – 5 Years</li>
                    <li>Ex–Service man – 3 Years after deduction of the military service rendered from the actual age as
                        on the date of reckoning.</li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for CRPF - Central Reserve Police Force (Tradesman) 
        </div>
        <strong class="main-title" style="margin-left: 20px;">Height:</strong>
        <ul style="list-style-type:circle; margin-left: 20px;">
            <li>Male – 170 cm (for ST 162.5 cm)</li>
            <li>Female – 157 cm (for ST 150 cm)</li>
        </ul>

        <strong class="main-title" style="margin-left: 20px;">Chest:</strong>
        <ul style="list-style-type:circle; margin-left: 20px;">
            <li>Unexpanded – 80 cm (for ST 76 cm)</li>
            <li>Minimum expansion – 5 cm</li>
        </ul>
    </div>
    <div class="container my-4">
        <div class="container">
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
        <div class="partion">
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Physical Efficiency Test
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th>Gender</th>
                            <th>Distance</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">Male</td>
                            <td>5 km</td>
                            <td>24 min</td>
                        </tr>
                        <tr>
                            <td scope="col">Female</td>
                            <td>1.6 km</td>
                            <td>8 min 30 Seconds</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Written Examination Pattern
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Subject</th>
                            <th>Questions</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">General Intelligence and Reasoning</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col">General Knowledge and General Awareness</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col">Elementary Mathematics</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col">English/Hindi</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col" style="font-weight: bold;">Total</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <ul>
                        <li><strong>Note: </strong>No Negative Marks</li>
                        <li><strong>Duration: </strong>120 Mins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>