<div class="container">
    <div class="tnusrb-sub-inspector-title">
        <div>
            <div style="font-size: 28px; font-weight: 600; text-align: center;">
                CRPF - Central Reserve Police Force (Tradesman)
            </div>
        </div>

        <div class="row mt-4 mb-3 align-items-center">
            <!-- Text Block -->
            <div class="col-12 col-md-8 mb-3 mb-md-0">
                <span
                    style="display: block; font-size: 24px; color: rgb(3, 84, 160); margin-bottom: 10px; text-align: left;">
                    Overview:
                </span>
                <span style="font-weight: 450; font-size: 18px; color: black; display: block; text-align: justify;">
                    The CRPF Tradesman role is a vital entry-level position in the Central Reserve Police Force,
                    supporting
                    its operations through various skilled trades. Tradesmen are recruited to perform essential tasks
                    such as cooking, carpentry, plumbing, equipment maintenance, and other services critical to the
                    daily functioning of the force. Selected candidates undergo physical, basic academic, and
                    trade-specific training to excel in their duties. CRPF Tradesmen play an important role in
                    maintaining the readiness, efficiency, and morale of the force while serving the nation.
                </span>
            </div>

            <!-- Image Block -->
            <div class="col-12 col-md-4 text-center">
                <img class="float-up-down img-fluid" style="max-height: 230px;" src="CRPF Tradesman.png"
                    alt="CRPF Tradesman" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>Computer-Based Written Exam (CBT) – Objective type (10th/12th syllabus)</li>
                    <li>Physical Fitness Test (PFT), Document Verification & Medical Test</li>
                    <li>Final Medical Exam & Document Check at INS Chilka</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Educational Qualification
                </div>
                <div class="mt-2">
                    <ul>
                        <li>10th Pass</li>
                    </ul>
                </div>
            </div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Age Limit
                </div>
                <table class="table table-bordered table-hover mt-2">
                    <thead class="theader">
                        <tr>
                            <th>Post / Category</th>
                            <th>Age Limit</th>
                            <th>Relaxation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Constable (Driver)</td>
                            <td>21 – 30 Years</td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td>Constable (MMV, Cobbler, Carpenter, Tailor, Brass Band, Pipe Band, Bugler, Gardner,
                                Painter, Cook, Water Carrier, Washerman, Barber, Safai Karamchari, Mason, Plumber,
                                Electrician)</td>
                            <td>18 – 26 Years</td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td>OBC</td>
                            <td>As above</td>
                            <td>+3 Years</td>
                        </tr>
                        <tr>
                            <td>SC / ST</td>
                            <td>As above</td>
                            <td>+5 Years</td>
                        </tr>
                        <tr>
                            <td>Ex–Servicemen</td>
                            <td>As above</td>
                            <td>+3 Years (after deducting military service from actual age)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Measurement Test
            </div>
            <table class="table table-bordered table-hover mt-3">
                <thead class="theader">
                    <tr>
                        <th>Measurement</th>
                        <th>General</th>
                        <th>ST Category</th>
                    </tr>
                </thead>
                <tbody style="font-weight: 450; font-size: 15px;">
                    <tr>
                        <td>Height (Male)</td>
                        <td>170 cm</td>
                        <td>162.5 cm</td>
                    </tr>
                    <tr>
                        <td>Height (Female)</td>
                        <td>157 cm</td>
                        <td>150 cm</td>
                    </tr>
                    <tr>
                        <td>Chest (Unexpanded) - Male</td>
                        <td>80 cm</td>
                        <td>76 cm</td>
                    </tr>
                    <tr>
                        <td>Chest Expansion - Male</td>
                        <td colspan="2">Minimum 5 cm</td>
                    </tr>
                </tbody>
            </table>
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
    </div>



    <div class="container my-4">
        <div class="container">

        </div>
        <div class="partion">
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Physical Efficiency Test
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th>Gender</th>
                            <th>Distance</th>
                            <th>Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">Male</td>
                            <td>5 km</td>
                            <td>24 min</td>
                        </tr>
                        <tr>
                            <td scope="col">Female</td>
                            <td>1.6 km</td>
                            <td>8 min 30 Seconds</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tnusrb-police-constable-content-1">
                <div class="tnusrb-police-constable-heading-1">
                    Written Examination Pattern
                </div>
                <table class="table table-bordered table-hover custom-table">
                    <thead class="theader">
                        <tr>
                            <th scope="col">Subject</th>
                            <th>Questions</th>
                            <th>Total Mark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="col">General Intelligence and Reasoning</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col">General Knowledge and General Awareness</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col">Elementary Mathematics</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col">English/Hindi</td>
                            <td>25</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td scope="col" style="font-weight: bold;">Total</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-2">
                    <ul>
                        <li><strong>Note: </strong>No Negative Marks</li>
                        <li><strong>Duration: </strong>120 Mins</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>