<div class="container">

    <div class="tnusrb-sub-inspector-title">
        Tamil Nadu Uniformed Services Recruitment Board (TNUSRB) - Sub Inspector ( Finger Print )
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for TNUSRB - Sub Inspector ( Finger Print )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Selection Process for TNUSRB – Sub Inspector ( Finger Print )</span> are :-
        </div>
        <div class="list">
            <ol>
                <li>Written Examination</li>
                <li>Viva-Voice</li>
                <li>Medical Test</li>
            </ol>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for TNUSRB - Sub Inspector ( Finger Print )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            <span class="content">
                <ul>
                    <li>Candidates must possess a <strong>degree in Science</strong> from a university or institution
                        recognized by the
                        <strong>University Grants Commission (UGC), </strong>completed under the 10+2+3 education
                        system.
                    </li>
                </ul>
            </span>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for TNUSRB - Sub Inspector ( Finger Print )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Age limit for TNUSRB – Sub Inspector ( Finger Print )</span> are
        </div>

        <table class="table table-bordered table-hover">
            <thead class="theader">
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Age ( in Years )</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>General</td>
                    <td>18 - 30</td>
                </tr>
                <tr>
                    <td>BC / MBC</td>
                    <td>18 - 32</td>
                </tr>
                <tr>
                    <td>SC / ST</td>
                    <td>18 - 35</td>
                </tr>
                <tr>
                    <td>Transgender</td>
                    <td>18 - 35</td>
                </tr>
                <tr>
                    <td>Widows</td>
                    <td>18 - 37</td>
                </tr>
                <tr>
                    <td>Ex-Service man</td>
                    <td>Up to 47</td>
                </tr>
                <tr>
                    <td>Departmental candidates appearing for departmental quota</td>
                    <td>Up to 47</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for TNUSRB - Sub Inspector ( Finger Print )
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            In TNUSRB – Sub Inspector ( Finger Print ) physical test, the eligibility of candidates is measured as per
            <span class="bolder">height, chest </span> and <span class="bolder">medical standards.</span>
        </div>

        <div class="table-flex-column">
            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">Height ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-1">Category</td>
                        <td class="thead-1">Male</td>
                        <td class="thead-1">Female</td>
                    </tr>
                    <tr>
                        <td>General</td>
                        <td>170</td>
                        <td>159</td>
                    </tr>
                    <tr>
                        <td>BC / MBC</td>
                        <td>170</td>
                        <td>159</td>
                    </tr>
                    <tr>
                        <td>SC, SC (A) / ST</td>
                        <td>167</td>
                        <td>157</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container my-4">
    <button class="btn custom-button" (click)="showSyllabus = !showSyllabus">
        {{ showSyllabus ? ' ▲ Syllabus for TNUSRB - Sub Inspector ( Finger Print )' : ' ▼ Syllabus for TNUSRB - Sub Inspector ( Finger Print )' }}
    </button>

    <div *ngIf="showSyllabus" class="mt-3 card card-body" style="white-space: pre-line; text-align: justify;">
        <strong class="SI-main-title">Written Examination Pattern:</strong>
        <span class="content"><strong class="main-title">Part I:</strong> LANGUAGE ELIGIBILITY TEST</span>
        <span class="content"><strong class="main-title">Part II:</strong> MAIN WRITTEN EXAMINATION</span>
        <strong class="main-title">For Open Quota</strong>
        <strong class="main-title">A. General Knowledge (55 Marks)</strong>
        <div class="row">
            <div class="row mb-4">
                <div class="col-md-6">
                    <ol>
                        <li style="font-weight: bold;">Language, Literature & Culture</li>
                        <span class="content">Gain insights into the rich heritage of All Languages in India,
                            including:</span>
                        <ul>
                            <li>Introduction to Indian languages and their literary contributions</li>
                            <li>Regional literature, folk traditions, and classical arts</li>
                            <li>Cultural heritage and festivals of various Indian states</li>
                            <li>Role of art, music, drama, and dance in Indian identity</li>
                        </ul>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol start="2">
                        <li style="font-weight: bold;">General Science</li>
                        <span class="content">Basic understanding of science useful for daily life:</span>
                        <ul>
                            <li>Principles of Physics, Chemistry, and Biology</li>
                            <li>Scientific discoveries and inventors</li>
                            <li>Human body and its functions</li>
                            <li>Common diseases and healthcare awareness</li>
                            <li>Nutrition and healthy living</li>
                            <li>Animals, birds, ecosystems, and environmental protection</li>
                            <li>Electricity, motion, matter, acids, bases, and salts</li>
                            <li>Role of Indian scientific institutions and laboratories</li>
                        </ul>
                    </ol>
                </div>
            </div>

            <!-- Row 2: 3 4 -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <ol start="3">
                        <li style="font-weight: bold;">Indian History</li>
                        <span class="content">A journey through India’s past:</span>
                        <ul>
                            <li>Early civilizations: Indus Valley and beyond</li>
                            <li>Dynasties, empires, and freedom struggle</li>
                            <li>National movement and key historical figures</li>
                            <li>Indian Constitution framing and post-independence events</li>
                            <li>Historical books and notable authors</li>
                        </ul>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol start="4">
                        <li style="font-weight: bold;">Indian Geography</li>
                        <span class="content">Geographic knowledge of India:</span>
                        <ul>
                            <li>Climate types, weather systems, monsoon patterns</li>
                            <li>Rivers, forests, wildlife, and natural disasters</li>
                            <li>Major crops, cropping patterns, and farming practices</li>
                            <li>Natural resources: minerals and energy</li>
                            <li>Industrial regions, cities, ports, and hill stations</li>
                            <li>Population and urban development</li>
                        </ul>
                    </ol>
                </div>
            </div>

            <!-- Row 3: 5 6 -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <ol start="5">
                        <li style="font-weight: bold;">Economy & Development</li>
                        <span class="content">Understanding India’s economic system:</span>
                        <ul>
                            <li>Agriculture and food production</li>
                            <li>Major and small-scale industries</li>
                            <li>Rural development and infrastructure</li>
                            <li>Government schemes: housing, water, employment</li>
                            <li>Issues like inflation, population, unemployment</li>
                            <li>Environmental policies and sustainable development</li>
                            <li><strong>Indian trade:</strong> Import / Export trends</li>
                        </ul>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol start="6">
                        <li style="font-weight: bold;">Indian Polity & Constitution</li>
                        <span class="content">Basics of India's governance system:</span>
                        <ul>
                            <li>Constitution of India and its key features</li>
                            <li>Citizenship, rights, and responsibilities</li>
                            <li>Structure of central and state governments</li>
                            <li>Judiciary and legal system</li>
                            <li>Panchayati Raj and local governance</li>
                            <li>Elections and democratic setup</li>
                            <li>National integration and foreign policy</li>
                        </ul>
                    </ol>
                </div>
            </div>

            <!-- Row 4: 7 -->
            <div class="row">
                <div class="col-md-12">
                    <ol start="7">
                        <li style="font-weight: bold;">Current Affairs (India & World)</li>
                        <span class="content">Stay informed about important updates:</span>
                        <ul>
                            <li>Science and technology innovations</li>
                            <li>Government announcements and policies</li>
                            <li>Sports events and achievements</li>
                            <li>Literature, arts, and cinema</li>
                            <li>Awards, honors, and global organizations</li>
                            <li>Books, authors, and recent events</li>
                            <li>India's relations with neighboring countries</li>
                            <li>National and international news highlights</li>
                        </ul>
                    </ol>
                </div>
            </div>
            <strong class="main-title">B. General Ability Test, Police Administration, Crime Investigation & Forensic
                Science (40 Marks)</strong>
            <div class="row">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <ol>
                            <li style="font-weight: bold;">General Ability Test</li>
                            <span class="content">This section evaluates a candidate’s mental aptitude and
                                decision-making abilities, including:</span>
                            <ul>
                                <li><strong>Logical Analysis –</strong> Reasoning ability and structured thinking</li>
                                <li><strong>Numerical Analysis –</strong> Basic arithmetic, data interpretation, and
                                    number series</li>
                                <li><strong>Psychological Assessment –</strong> Understanding behavioral patterns and
                                    stress response</li>
                                <li><strong>Communication Skills –</strong> Verbal and written comprehension, clarity in
                                    expression</li>
                                <li><strong>Information Handling Ability –</strong> Data gathering, analysis, and quick
                                    decision-making</li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol start="2">
                            <li style="font-weight: bold;">Police Administration</li>
                            <span class="content">Focuses on understanding the administrative and operational framework
                                of the police force:</span>
                            <ul>
                                <li><strong>Overview of Indian Police History & Organization</strong></li>
                                <li><strong>State Police Structure –</strong> Law & Order, Indian Special Police, Armed
                                    Reserve</li>
                                <li><strong>Special Units –</strong> Intelligence Wing, Traffic Police, Mounted Branch,
                                    Commercial Crime Investigation Wing</li>
                                <li><strong>Communication Skills –</strong> Verbal and written comprehension, clarity in
                                    expression</li>
                                <li><strong>All Indian Police Standing Orders –</strong> Key directives and operational
                                    guidelines</li>
                            </ul>
                            <span class="content"><strong class="main-title">Legal Powers & Procedures:</strong></span>
                            <ol style="list-style-type: lower-alpha;">
                                <li>Receiving Information, First Information Report (FIR), Police powers of
                                    investigation, Inquest by Executive/Judicial Magistrate, handling custodial deaths,
                                    evidence collection, post-mortem reports, and filing final reports.</li>
                                <li>Arrest procedures, bail provisions, and issuance of warrants</li>
                                <li>Sections from IPC, CrPC, and Indian Evidence Act relevant to regular police station
                                    operations</li>
                            </ol>
                        </ol>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <ol start="3">
                            <li style="font-weight: bold;">Crime Investigation</li>
                            <span class="content">Covers standard procedures and legal frameworks for investigating
                                criminal cases:</span>
                            <ol style="list-style-type: lower-alpha;">
                                <li>Filing and handling of FIR, investigation methodology, inquest procedures,
                                    post-mortem reports, and documentation of evidence.</li>
                                <li>Arrest laws, bail provisions, search & seizure, and execution of warrants</li>
                                <li>Use of IPC, CrPC, and Evidence Act – especially sections frequently applied during
                                    investigations at the station level</li>
                            </ol>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol start="4">
                            <li style="font-weight: bold;">Basic Forensic Science</li>
                            <span class="content">Introduction to the application of science in solving crimes. Topics
                                include:</span>
                            <ol style="list-style-type: lower-alpha;">
                                <li><strong>History & Tools of Forensic Science –</strong> Evolution of the field, key
                                    tools, and forensic lab structure in India</li>
                                <li><strong>Forensic Psychology –</strong> Basics, behavioral profiling, and techniques
                                    like detection of deception</li>
                                <li><strong>Dermatoglyphics (Fingerprints) –</strong> Principles of fingerprint
                                    identification, development techniques, and analysis of other impressions</li>
                                <li><strong>Technological Methods –</strong> Use of microscopes, forensic photography,
                                    and lab instruments</li>
                                <li><strong>Crime Scene Management –</strong> Collection and preservation of physical
                                    evidence, forensic physics</li>
                                <li><strong>Forensic Ballistics –</strong> Study of firearms, ammunition, and related
                                    evidence</li>
                                <li><strong>Forensic Toxicology –</strong> Analysis of poisons, narcotics, drugs, and
                                    psychotropic substances</li>
                                <li><strong>Forensic Medicine –</strong> Death investigation, autopsy procedures, and
                                    forensic odontology</li>
                                <li><strong>Digital Forensics –</strong> Cybercrime investigation, computer forensics,
                                    and electronic evidence collection</li>
                            </ol>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="syllabus-link d-flex align-items-center gap-2 my-3">
                <img src="animated-click-here-.gif" alt="Click here" class="click-icon" />
                <span>
                    TNUSRB – Sub Inspector ( Fingerprint )
                    <a href="#" target="_blank" class="pdf-link"> Syllabus (PDF) in English</a>
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
            <a class="btn custom-syllabus" href="#" target="_blank" download>
                📄 Syllabus (PDF) - English
            </a>
        </div>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Special Marks
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col" colspan="2">Open candidates</th>
                        <th scope="col">Departmental candidates</th>
                        <th scope="col">Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">SPECIAL MARKS</td>
                        <td>NCC - 2 Marks, NSS - 1 Mark, Sport/Games - 2 Marks</td>
                        <td> National Police Duty Meet Gold – 5 Marks, Silver – 3 Marks, Bronze – 2 Marks</td>
                        <td>5 Marks</td>
                    </tr>
                </tbody>
            </table>
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <strong class="main-title">#No Physical test</strong>
        </div>

        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">The medium of the question paper shall be bilingual <strong>( Both English & All Regional Language )</strong></span>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <strong class="main-title">PART-I:</strong>
            </div>
            <div class="mt-2">
                <span class="content">Language Eligibility Test</span>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span><strong class="main-title">PART-II:</strong> Main Written Examination ( 85 Marks )</span>
                <ul>
                    <li><strong class="main-title">General Knowledge - </strong>55</li>
                    <li><strong class="main-title">General Ability Test - </strong>30</li>
                </ul>
                <span>(General Ability Test includes Logical Analysis, Numerical Analysis, Psychology Test, Communication Skills)</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>VIVA-VOICE: </strong>10 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>SPECIAL MARKS:</strong> 5 Marks</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>TOTAL MARKS:</strong> 85 + 10 + 5 = 100</span>
            </div>
        </div>
    </div>
</div>