<div class="container">

    <div class="tnusrb-sub-inspector-title">
        Tamil Nadu Forest Uniformed Services Recruitment Committee (TNFUSRC) - Watcher
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            1. Selection Process for TNFUSRC - Watcher
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Selection Process for TNFUSRC - Watcher</span> are :-
        </div>
        <div class="list">
            <ol>
                <li>Written Examination</li>
                <li>Physical Measurement Test</li>
            </ol>
        </div>
    </div>

    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            2. Educational Qualification for TNFUSRC - Watcher
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            <span class="content">
                <ul>
                    <li><strong>10th </strong>Pass</li>
                </ul>
            </span>
        </div>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            3. Age Limit for TNFUSRC - Watcher
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            The <span class="bolder">Age limit for TNFUSRC - Watcher</span> are
        </div>

        <table class="table table-bordered table-hover">
            <thead class="theader">
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Age ( in Years )</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>OC</td>
                    <td>Upto 32</td>
                </tr>
                <tr>
                    <td>BC / MBC / BCM / SC / ST</td>
                    <td>Upto 37</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tnusrb-police-constable-content">
        <div class="tnusrb-police-constable-heading">
            4. Physical Measurement Test​ for TNFUSRC - Watcher
        </div>
        <div class="tnusrb-police-constabel-sub-heading">
            In TNFUSRC - Watcher physical test, the eligibility of candidates is measured as per
            <span class="bolder">height, chest </span> and <span class="bolder">medical standards.</span>
        </div>

        <div class="table-flex-column">
            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">Height ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-1">Gender</td>
                        <td class="thead-1">OC, BC, BC(M),MBC/DNC SC, SC(A)</td>
                        <td class="thead-1">ST</td>
                    </tr>
                    <tr>
                        <td>Male</td>
                        <td>Minimum 163 cm</td>
                        <td>Minimum 152 cm</td>
                    </tr>
                    <tr>
                        <td>Female</td>
                        <td>Minimum 150 cm</td>
                        <td>Minimum 145 cm</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th colspan="3">chest ( in cm )</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="thead-2" rowspan="2">Only for Male</td>
                        <td class="thead-2">Normal</td>
                        <td class="thead-2"> Expanded</td>
                    </tr>
                    <tr>
                        <td class="chest-size">79</td>
                        <td class="chest-size">84</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container my-4">
    <button class="btn custom-button" (click)="showSyllabus = !showSyllabus">
        {{ showSyllabus ? ' ▲ Syllabus for TNFUSRC - Watcher' : ' ▼ Syllabus for TNFUSRC - Watcher' }}
    </button>

    <div *ngIf="showSyllabus" class="mt-3 card card-body" style="white-space: pre-line; text-align: justify;">
        <strong class="main-title">General Science</strong>
        <div class="row" style="margin-left: 20px;">
            <div class="row mb-4">
                <div class="col-md-6">
                    <ol>
                        <li style="font-weight: bold;">Physics:</li>
                        <ul>
                            <li>Nature of Universe and General Scientific Laws</li>
                            <li>Inventions and Discoveries</li>
                            <li>National Scientific Laboratories</li>
                            <li>Mechanics and Properties of Matter</li>
                            <li>Physical Quantities, Standards, and Units</li>
                            <li>Force, Motion, and Energy</li>
                            <li>Magnetism, Electricity, and Electronics</li>
                            <li>Heat, Light, and Sound</li>
                        </ul>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol start="2">
                        <li style="font-weight: bold;">Chemistry:</li>
                        <ul>
                            <li>Elements and Compounds</li>
                            <li>Acids, Bases, and Salts</li>
                            <li>Fertilizers, Pesticides, and Insecticides</li>
                        </ul>
                    </ol>
                </div>
            </div>

            <!-- Row 2: 3 4 -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <ol start="3">
                        <li style="font-weight: bold;">Botany:</li>
                        <ul>
                            <li>Core Concepts of Life Science</li>
                            <li>Classification of Living Organisms</li>
                            <li>Human Nutrition and Dietetics</li>
                            <li>Respiration and Plant Physiology</li>
                        </ul>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol start="4">
                        <li style="font-weight: bold;">Zoology:</li>
                        <ul>
                            <li>Blood Circulation and the Human Body</li>
                            <li>Reproductive System</li>
                            <li>Ecology, Environment, Health, and Hygiene</li>
                            <li>Human Diseases – Causes, Prevention, and Remedies</li>
                            <li>Relationship Between Animals, Plants, and Human Life</li>
                        </ul>
                    </ol>
                </div>
            </div>
        </div>

        <!--Current Events-->
        <strong class="main-title">Current Events</strong>
        <div class="row" style="margin-left: 20px;">
            <div class="row mb-4">
                <div class="col-md-6">
                    <ol>
                        <li style="font-weight: bold;">History and General Awareness:</li>
                        <ul>
                            <li>National and International Current Events</li>
                            <li>National Symbols and Profiles of States</li>
                            <li>Eminent Personalities and Places in the News</li>
                            <li>Books and Authors</li>
                            <li>Sports and Games</li>
                            <li>Awards and Honours</li>
                            <li>India and Its Neighbours</li>
                        </ul>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol start="2">
                        <li style="font-weight: bold;">Political Science:</li>
                        <ul>
                            <li>Public Elections in India – Issues and Reforms</li>
                            <li>Political Parties and Political Systems</li>
                            <li>Public Administration and General Governance</li>
                            <li>Government Welfare Schemes and Their Impact</li>
                        </ul>
                    </ol>
                </div>
            </div>

            <!-- Row 2: 3 4 -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <ol start="3">
                        <li style="font-weight: bold;">Economics:</li>
                        <ul>
                            <li>Contemporary Socio-Economic Issues</li>
                            <li>Recent Economic Trends and Policies</li>
                        </ul>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol start="4">
                        <li style="font-weight: bold;">Science & Technology:</li>
                        <ul>
                            <li>Recent Scientific Innovations and Discoveries</li>
                        </ul>
                    </ol>
                </div>
            </div>
        </div>
        <!--Geography, History and Culture of India (including Tamil Nadu), Indian Polity, Indian Economy, Indian National Movement-->
        <div class="row" style="margin-left: 20px;">
            <div class="row mb-4">
                <div class="col-md-6">
                    <strong class="main-title">Geography</strong>
                    <ul style="list-style-type: circle;">
                        <li>Earth and the Universe, Solar System</li>
                        <li>Monsoon, Rainfall, Weather, and Climate</li>
                        <li>Water Resources – Rivers and Lakes of India</li>
                        <li>Soil, Minerals, and Natural Resources</li>
                        <li>Forests, Wildlife, and Conservation</li>
                        <li>Agricultural Patterns and Productivity</li>
                        <li>Transport and Communication Systems</li>
                        <li>Social Geography – Population Density and Distribution</li>
                        <li>Natural Calamities and Disaster Management</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <strong class="main-title">History and Culture of India (including Tamil Nadu)</strong>
                    <ul style="list-style-type: circle;">
                        <li>Indus Valley Civilization</li>
                        <li><strong>Dynasties:</strong> Guptas, Delhi Sultans, Mughals, and Marathas</li>
                        <li><strong>Southern Empires:</strong> Vijayanagar, Bahmani, and Others</li>
                        <li>South Indian History and Cultural Contributions</li>
                        <li>Cultural Heritage of the Tamil People</li>
                        <li>Indian Society Since Independence</li>
                        <li>Characteristics of Indian Culture – Unity in Diversity</li>
                        <li>Language, Customs, Religion – Secularism in India</li>
                        <li>Rationalist and Dravidian Movements in Tamil Nadu</li>
                        <li>Emergence of Regional Political Parties and Welfare Schemes</li>
                    </ul>
                </div>
            </div>

            <!-- Row 2: 3 4 -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <strong class="main-title">Indian Polity</strong>
                    <ul style="list-style-type: circle;">
                        <li>Constitution of India – Preamble and Salient Features</li>
                        <li><strong>Structure:</strong> Union, State, and Territories</li>
                        <li><strong>Citizenship:</strong> Rights and Responsibilities</li>
                        <li>Fundamental Rights, Duties, and Human Rights Charter</li>
                        <li>Union and State Legislature – Parliament and Assemblies</li>
                        <li>Executive Powers and Functions</li>
                        <li>Judiciary – Structure and Role</li>
                        <li>Local Government – Panchayati Raj (with a focus on Tamil Nadu model)</li>
                        <li>Rule of Law and Legal Processes</li>
                        <li>Official Languages and Schedule VIII</li>
                        <li>Anti-Corruption Measures – Lokpal, CVC, CAG, Lok Adalats</li>
                        <li>RTI Act, Consumer Protection, and Women Empowerment Initiatives</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <strong class="main-title">Indian Economy</strong>
                    <ul style="list-style-type: circle;">
                        <li>Overview of Indian Economic Structure</li>
                        <li>Five-Year Plan Models – Evaluation and Impact</li>
                        <li>Land Reforms and Agricultural Development</li>
                        <li>Scientific Applications in Farming</li>
                        <li>Industrial Development – Sectors and Trends</li>
                        <li>Social Sector Challenges – Education, Health, Employment, Poverty</li>
                        <li>Economic Scenario and Growth Trends (with reference to Tamil Nadu as example)</li>
                        <li>Local Government – Panchayati Raj (with a focus on Tamil Nadu model)</li>
                        <li>Rule of Law and Legal Processes</li>
                        <li>Official Languages and Schedule VIII</li>
                        <li>Anti-Corruption Measures – Lokpal, CVC, CAG, Lok Adalats</li>
                        <li>RTI Act, Consumer Protection, and Women Empowerment Initiatives</li>
                    </ul>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <strong class="main-title"> Indian National Movement</strong>
                    <ul style="list-style-type: circle;">
                        <li>National Renaissance and Rise of Indian Consciousness</li>
                        <li>Contributions of Freedom Fighters – Gandhi, Nehru, Tagore</li>
                        <li>Modes of Agitation – Non-cooperation, Civil Disobedience, Quit India</li>
                        <li>Tamil Nadu’s Role in the Freedom Struggle – Rajaji, VOC, Periyar, Bharathiar, and Others
                        </li>
                    </ul>
                </div>
            </div>
            <!--Aptitude & Mental Ability Tests-->
            <strong class="main-title">Aptitude & Mental Ability Tests</strong>
            <div class="row" style="margin-left: 20px;">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <ol>
                            <li style="font-weight: bold;">Analytical Reasoning:</li>
                            <ul>
                                <li><strong>Data Interpretation:</strong> Collection, Compilation, Presentation</li>
                                <li>Tables, Charts, Graphs, and Diagrams</li>
                                <li>Parametric Representation of Data</li>
                                <li>Analytical Reasoning and Interpretation</li>
                            </ul>
                        </ol>
                    </div>
                    <div class="col-md-6">
                        <ol start="2">
                            <li style="font-weight: bold;">Mathematical Reasoning:</li>
                            <ul>
                                <li>Simplification</li>
                                <li>Percentage</li>
                                <li>Highest Common Factor (HCF), Lowest Common Multiple (LCM)</li>
                                <li>Ratio and Proportion</li>
                                <li>Simple and Compound Interest</li>
                                <li>Area, Volume, and Measurements</li>
                                <li>Time and Work</li>
                            </ul>
                        </ol>
                    </div>
                </div>

                <!-- Row 2: 3 4 -->
                <div class="row mb-4">
                    <div class="col-md-6">
                        <ol start="3">
                            <li style="font-weight: bold;">Logical Reasoning:</li>
                            <ul>
                                <li>Number Series</li>
                                <li>Alpha-Numeric Reasoning</li>
                                <li>Visual and Analytical Reasoning</li>
                                <li>Dice and Puzzle Solving</li>
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="syllabus-link d-flex align-items-center gap-2 my-3">
                <img src="animated-click-here-.gif" alt="Click here" class="click-icon" />
                <span>
                    TNUSRB – Watcher
                    <a href="#" target="_blank" class="pdf-link">Syllabus (PDF) in English</a>
                </span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
            <a class="btn custom-syllabus" href="#" target="_blank" download>
                📄 Syllabus (PDF) - English
            </a>
        </div>
    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <strong class="main-title">#No Physical test</strong>
        </div>

        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">The medium of the question paper shall be bilingual <strong>( Both English &
                        Tamil
                        )</strong></span>
            </div>
            <div class="mt-2" style="white-space: pre-line; text-align: justify;">
                <span class="content">Type of Examination: <strong>Objective Type (OMR Method)</strong></span>
            </div>
            <div class="mt-2">
                <span class="content">Single Paper <strong>(S.S.L.C Standard)</strong></span>
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Part</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Questions</th>
                        <th>Marks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">Part A</td>
                        <td>Tamil Eligibility-Cum-Scoring Test</td>
                        <td>100</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <td scope="col" rowspan="2">Part B</td>
                        <td>General Studies</td>
                        <td>75</td>
                        <td rowspan="2" style="vertical-align: middle;">150</td>
                    </tr>
                    <tr>
                        <td scope="col">Aptitude and Mental Ability Test</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td scope="col" colspan="2" style="text-align: center;">Total</td>
                        <td>200</td>
                        <td>300</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-2">
                <span class="text"><strong>Minimum Qualifying Marks for Selection: </strong>90 Marks (All Communities)</span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>Note:</strong> No Negative Mark </span>
            </div>
            <div class="mt-2">
                <span class="text"><strong>Duration:</strong> 3 hours</span>
            </div>
        </div>
    </div>
</div>