<div class="container">
    <div class="tnusrb-sub-inspector-title">
        <div>
            <div style="font-size: 28px; font-weight: 600; text-align: center;">Army - General Duty</div>
        </div>

        <div class="d-flex flex-column flex-md-row align-items-center gap-3 mt-4 mb-3">
            <div style="max-width: 600px;">
                <span
                    style="display: block; font-size: 24px; color: rgb(3, 84, 160); margin-bottom: 10px; text-align: left;">Overview:</span>
                <span style="font-weight: 450; font-size: 18px; color: black; display: block; text-align: justify;">
                    The Army General Duty (GD) role is a vital entry point for joining the Indian Army as a soldier and
                    serving the nation. It recruits candidates to perform frontline duties, focusing on physical
                    fitness,
                    discipline, and combat skills. Selected candidates undergo rigorous physical, military, and basic
                    academic training to prepare for the challenges of defending the country. Soldiers in the GD
                    category
                    play a crucial role in maintaining security, upholding national pride, and supporting the Army’s
                    mission.
                </span>
            </div>

            <div class="d-flex justify-content-center w-100">
                <img class="float-up-down" style="width: 255px; max-width: 100%;" src="Army General Duty.png" alt="Army General Duty" />
            </div>
        </div>
    </div>


    <div class="d-flex flex-column flex-md-row justify-content-between gap-3 ">
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Selection Process
            </div>
            <div class="list">
                <ol>
                    <li>Written Examination</li>
                    <li>Physical Test</li>
                    <li>Medical Test</li>
                </ol>
            </div>
        </div>
        <div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Educational Qualification
                </div>
                <ul>
                    <li><strong>SSLC/Matric</strong> with 45% overall and 33% per subject</li>
                    <li><strong>No marks criteria</strong> if qualified with 10+2 or higher</li>
                </ul>
            </div>
            <div class="tnusrb-police-constable-content">
                <div class="tnusrb-police-constable-heading">
                    Age Limit
                </div>
                <ol>
                    <li><strong>Minimum - </strong>17.5 Years</li>
                    <li><strong>Maximum - </strong>21 Years</li>
                </ol>
            </div>
        </div>
        <div class="tnusrb-police-constable-content">
            <div class="tnusrb-police-constable-heading">
                Physical Standards – Army General Duty
            </div>

            <table class="table table-bordered table-hover">
                <thead class="theader">
                    <tr>
                        <th>Parameter</th>
                        <th>Requirement</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Height</td>
                        <td>170 cm (varies by region)</td>
                    </tr>
                    <tr>
                        <td>Weight</td>
                        <td>As per BMI standards</td>
                    </tr>
                    <tr>
                        <td>Chest</td>
                        <td>Minimum 77 cm with 5 cm expansion</td>
                    </tr>
                </tbody>
            </table>
            <div class="syllabus-button d-flex flex-wrap gap-2 my-3">
                <a class="btn custom-syllabus" href="#" target="_blank" download>
                    📄 Syllabus (PDF) - English
                </a>
            </div>
        </div>
    </div>
    <div class="container">

    </div>
    <div class="partion">
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Physical Efficiency Test
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th></th>
                        <th scope="col">Minimum</th>
                        <th scope="col">Maximum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">1600 Meters Race</td>
                        <td>5 min 30 seconds</td>
                        <td>5 min 45 seconds</td>
                    </tr>
                    <tr>
                        <td scope="col">Ditch Jump</td>
                        <td>9 feet</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td scope="col">Pull ups</td>
                        <td>6</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td scope="col">Zig Zag Balance</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-2">
                <strong class="main-title">Marks for Physical:</strong>
            </div>

            <div class="mt-2">
                <strong class="main-title">1600 METERS RACE</strong>
            </div>
            <div class="mt-2">
                <span class="content">Group-1: Upto 5 min 30 seconds - <strong>60 Marks</strong></span>
            </div>
            <div class="mt-2">
                <span class="content">Group-2: From 5 min 31 seconds (to) 5 min 45 seconds - <strong>48
                        Marks</strong></span>
            </div>
            <div class="mt-2">
                <strong class="main-title">PULL UPS:</strong>
                <span class="content">
                    <ul>
                        <li>10 Pull Ups – 40 Marks</li>
                        <li>9 Pull Ups – 33 Marks</li>
                        <li>8 Pull Ups – 27 Marks</li>
                        <li>7 Pull Ups – 21 Marks</li>
                        <li>6 Pull Ups – 16 Marks</li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="tnusrb-police-constable-content-1">
            <div class="tnusrb-police-constable-heading-1">
                Written Examination Pattern
            </div>
            <table class="table table-bordered table-hover custom-table">
                <thead class="theader">
                    <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Questions</th>
                        <th>Mark</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col">General Knowledge (G.K)</td>
                        <td>15</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td scope="col">General Knowledge(G.S)</td>
                        <td>15</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td scope="col">Mathematics</td>
                        <td>15</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td scope="col">Logical Reasoning</td>
                        <td>5</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Total</td>
                        <td>50</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td scope="col" style="font-weight: bold;">Qualifying Marks</td>
                        <td>-</td>
                        <td>32</td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-2">
                <ul>
                    <li><strong>Note: </strong>Negative Mark 0.5 for each wrong answer</li>
                    <li><strong>Duration: </strong>60 Mins</li>
                </ul>
            </div>
        </div>
    </div>